Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @katamari-org/legal, @legal-counsel, @frontend-captain, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @sre-duty-officer, @data-science-lead

Fix trim message recording duplication
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Test Birdseye refresh helper respects sys.executable
  tests/scripts/test_birdseye_refresh.py
Owners: @katamari-org/qa, @product-tech-lead

Skip intent analysis when debug output disabled
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle case insensitive bearer headers
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

test: ensure trim debug messages suppressed when hidden
  tests/app/test_logging.py
Owners: @katamari-org/qa, @product-tech-lead

test: tighten trim debug absence assertion
  tests/app/test_logging.py
Owners: @katamari-org/qa, @product-tech-lead

Guard prethought analysis behind debug flag
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle bearer auth headers with flexible casing
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

docs: show_debug 時の trim 表示条件を追記
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
Owners: @katamari-org/docs-team, @devrel-lead

docs: clarify bearer auth requirements for service endpoints
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
Owners: @katamari-org/docs-team, @devrel-lead

Ensure request logging survives trim failures
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

docs: clarify m1 bearer auth requirement
  docs/addenda/G_Security_Privacy.md
Owners: @katamari-org/docs-team, @devrel-lead

Update security test documentation
  docs/addenda/G_Security_Privacy.md
  docs/addenda/I_Test_Cases.md
Owners: @katamari-org/docs-team, @devrel-lead

Add failure logging safeguard for provider init errors
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

docs: reflect header auth completion in adr-0004
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @katamari-org/docs-team, @devrel-lead

docs: update security acceptance notes for bearer auth
  docs/Katamari_Technical_Spec_v1_ja.md
Owners: @katamari-org/docs-team, @devrel-lead

Persist persona YAML in session settings
  src/app.py
  tests/app/test_on_start.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add persistence test for persona yaml
  src/app.py
  tests/app/test_on_start.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Update deploy guide auth note
  docs/addenda/H_Deploy_Guide.md
Owners: @katamari-org/docs-team, @devrel-lead

Update operations documentation for auth-protected endpoints
  README.md
  docs/addenda/H_Deploy_Guide.md
  docs/adr/0005-m1-5-oauth-and-token-governance.md
Owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/docs-team, @devrel-lead

Respect saved session values during on_start
  src/app.py
  tests/app/test_on_start.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure on_start reuses saved settings
  src/app.py
  tests/app/test_on_start.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

docs: clarify ops endpoint auth requirement
  README.md
Owners: @katamari-org/maintainers, @product-tech-lead

docs: update deploy guide bearer auth note
  docs/addenda/H_Deploy_Guide.md
Owners: @katamari-org/docs-team, @devrel-lead

Update M1 retention and healthz tasks
  docs/katamari_wbs.csv
Owners: @katamari-org/docs-team, @devrel-lead

Normalize invalid semantic retention metrics
  src/app.py
  tests/app/test_semantic_retention.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add skip guard for make-dependent test
  tests/scripts/test_makefile_targets.py
Owners: @katamari-org/qa, @product-tech-lead

Add bash availability guard for sync subtree tests
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/qa, @product-tech-lead

Add skip guard and test for missing make command
  tests/scripts/test_makefile_targets.py
Owners: @katamari-org/qa, @product-tech-lead

Update M1 retention deliverables in WBS
  docs/katamari_wbs.csv
Owners: @katamari-org/docs-team, @devrel-lead

Handle non numeric semantic retention metrics
  src/app.py
  tests/app/test_semantic_retention.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

test: skip sync_chainlit subtree when bash missing
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/qa, @product-tech-lead

Ensure persona YAML input supports multiline entry
  src/app.py
  tests/app/test_on_start.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Update RUNBOOK env setup reference
  RUNBOOK.md
Owners: @katamari-org/maintainers, @product-tech-lead

Ensure context trimmer keeps latest turn over budget
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle missing openai dependency lazily
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Restore AsyncOpenAI attribute for tests
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer

Fix AsyncOpenAI typing for mypy
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer

Add lazy AsyncOpenAI import with missing dependency guard
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

docs: update runbook env setup instructions
  RUNBOOK.md
Owners: @katamari-org/maintainers, @product-tech-lead

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要ディレクトリ単位でレビュー責任者を明確化します。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# ガバナンス / ナレッジ
/docs/ @katamari-org/docs-team @devrel-lead
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead
/public/ @katamari-org/frontend @design-lead

# コアランタイム / バックエンド
/src/ @katamari-org/backend @runtime-duty-officer
/tests/ @katamari-org/qa @product-tech-lead
/third_party/ @katamari-org/legal @legal-counsel

# フロントエンド / ESM
/upstream/ @katamari-org/frontend @frontend-captain

# ツール / プラットフォーム
/scripts/ @katamari-org/tooling @devops-lead
/config/ @katamari-org/platform @sre-duty-officer
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / 依存関係
/Dockerfile @katamari-org/platform @sre-duty-officer
/Makefile @katamari-org/tooling @devops-lead
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead
