Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/integrations, @katamari-org/qa, @katamari-org/docs, @katamari-org/frontend, @katamari-org/design, @katamari-org/devops

Handle missing semantic retention metric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Update README with name origin explanation
  README.md
Owners: @katamari-org/maintainers

Handle persona reset on empty input
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add reasoning defaults for thinking models and cover forwarding
  src/app.py
  tests/app/test_get_provider.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add min turn preservation for context trimming
  src/app.py
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Compute semantic retention asynchronously
  src/app.py
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

feat: flag forbidden persona terms
  config/persona_forbidden_patterns.json
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Add full Python and Node CI gates
  .github/workflows/ci.yml
  Makefile
Owners: @katamari-org/maintainers

feat(ci): cache dependencies and log metrics
  .github/workflows/ci.yml
  RUNBOOK.md
  scripts/cache/hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Add recorded OpenAI stream fixtures for CI tests
  tests/providers/fixtures/openai_chat_reflect_stream.json
  tests/providers/test_openai_provider_stream.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Fix provider job secret condition
  .github/workflows/ci.yml
Owners: @katamari-org/maintainers

fix: fallback when uv binary is unavailable
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/maintainers

Add mypy configuration
  mypy.ini
Owners: @katamari-org/maintainers

Ensure cypress fallback installs backend deps
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/maintainers

fix: resolve ruff lint issues
  scripts/switch_theme.py
  src/core_ext/evolve.py
  src/core_ext/persona_compiler.py
  src/core_ext/prethought.py
  src/providers/openai_client.py
  upstream/chainlit/backend/chainlit/langchain/callbacks.py
  upstream/chainlit/backend/tests/data/storage_clients/test_gcs.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/runtime, @katamari-org/integrations

Add Chainlit React client type declarations
  upstream/chainlit/.gitignore
  upstream/chainlit/libs/react-client/dist/index.d.ts
Owners: @katamari-org/maintainers

Ensure CI runs on pull requests
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Owners: @katamari-org/maintainers

Improve backend lint fallback
  upstream/chainlit/backend/scripts/lint_python.sh
  upstream/chainlit/package.json
Owners: @katamari-org/maintainers

ci: skip stale main push runs
  .github/workflows/ci.yml
Owners: @katamari-org/maintainers

Pass min_turns to context trimmer
  src/app.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Fix trim_messages min_turns forwarding
  src/app.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Pass min_turns to context trimmer
  src/app.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Add module entry point for chainlit CLI
  upstream/chainlit/backend/chainlit/cli/__main__.py
  upstream/chainlit/backend/tests/test_cli_entrypoint.py
Owners: @katamari-org/maintainers

Fix trim_messages monkeypatch signature
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Ensure persona updates refresh history system prompt
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Fix UP022 lint in CLI entrypoint test
  upstream/chainlit/backend/tests/test_cli_entrypoint.py
Owners: @katamari-org/maintainers

chore: ignore optional deps for mypy
  upstream/chainlit/backend/pyproject.toml
Owners: @katamari-org/maintainers

Relax mypy missing import handling for optional deps
  mypy.ini
Owners: @katamari-org/maintainers

Provide pandas stub for dataframe e2e sample
  upstream/chainlit/cypress/e2e/dataframe/main.py
Owners: @katamari-org/maintainers

Ensure persona updates seed history with system prompt
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure min_turns forwarded to trim_messages
  src/app.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Align persona compiler fallback with default prompt
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Handle missing semantic retention metrics
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Handle missing llama_index for callback sample
  tests/app/test_chainlit_llama_index_stub.py
  upstream/chainlit/cypress/e2e/llama_index_cb/main.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Add pandas fallback for chainlit dataframe test
  upstream/chainlit/cypress/e2e/dataframe/main.py
Owners: @katamari-org/maintainers

Add plotly dependency for chainlit plot tests
  requirements.txt
Owners: @katamari-org/maintainers

Ensure semantic retention metrics retain unset state
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure persona compiler reuses app default prompt
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

fix: ensure plotly extra for cypress
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/maintainers

Add fallback for Google API key in Gemini provider
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @katamari-org/maintainers, @katamari-org/integrations, @katamari-org/qa

CODEOWNERS:

# CODEOWNERS は主要領域ごとにレビュー担当者を割り当てます。詳細は CONTRIBUTING.md を参照してください。

# 既定の担当者
* @katamari-org/maintainers

# アプリケーション実装
/src/app.py @katamari-org/maintainers @katamari-org/runtime
/src/core_ext/ @katamari-org/maintainers @katamari-org/runtime
/src/providers/ @katamari-org/maintainers @katamari-org/integrations

# テスト
/tests/app/ @katamari-org/maintainers @katamari-org/qa
/tests/core_ext/ @katamari-org/maintainers @katamari-org/qa
/tests/providers/ @katamari-org/maintainers @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @katamari-org/maintainers @katamari-org/docs
/public/ @katamari-org/maintainers @katamari-org/frontend
/themes/ @katamari-org/maintainers @katamari-org/design

# 運用ツール
/scripts/ @katamari-org/maintainers @katamari-org/devops
