Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @katamari-org/legal, @legal-counsel, @frontend-captain, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @sre-duty-officer, @data-science-lead

Propagate invalid Chainlit metrics as NaN
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Fix Prometheus metric parsing with labels
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure Chainlit metrics require latest compress ratio
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix missing constant import in metrics test
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback equality
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Fix semantic retention fallback when missing in chainlit log
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure semantic retention fallback is finite
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle NaN semantic retention
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle semantic retention nan as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Refine Chainlit metric parsing
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Remove unused variable in metrics parser
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Fix Chainlit metric parsing for missing keys
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix Chainlit metric parsing for missing semantic retention
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Normalize semantic retention NaN handling
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle null semantic retention in metrics collector
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Initialize missing and null key trackers
  scripts/perf/collect_metrics.py
  src/app.py
  tests/app/test_logging.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Initialize missing and null key trackers
  scripts/perf/collect_metrics.py
  src/app.py
  tests/app/test_logging.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback expectations
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix Chainlit log parsing fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Add regression coverage for Chainlit metrics parsing
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

fix: set semantic retention fallback to none
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Fix Chainlit log parsing and add regression test
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback expectations
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Ensure semantic retention fallback is finite
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Add regression test for Chainlit-only metrics CLI
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Mark semantic retention fallback as final
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure missing semantic retention falls back to default
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle non-string retention content
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Fix metric selection when log reports null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure semantic retention fallback is numeric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Allow negative semantic retention metrics
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback to None
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

chore: remove unused typing import
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Fix collect_metrics error handling test and import
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix missing compress ratio CLI test
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要ディレクトリ単位でレビュー責任者を明確化します。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# ガバナンス / ナレッジ
/docs/ @katamari-org/docs-team @devrel-lead
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead
/public/ @katamari-org/frontend @design-lead

# コアランタイム / バックエンド
/src/ @katamari-org/backend @runtime-duty-officer
/tests/ @katamari-org/qa @product-tech-lead
/third_party/ @katamari-org/legal @legal-counsel

# フロントエンド / ESM
/upstream/ @katamari-org/frontend @frontend-captain

# ツール / プラットフォーム
/scripts/ @katamari-org/tooling @devops-lead
/config/ @katamari-org/platform @sre-duty-officer
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / 依存関係
/Dockerfile @katamari-org/platform @sre-duty-officer
/Makefile @katamari-org/tooling @devops-lead
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead
