Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa, @katamari-org/docs, @katamari-org/frontend, @katamari-org/design, @katamari-org/integrations, @katamari-org/devops

Set semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix redundant key tracking in metric log parsing
  scripts/perf/collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Ensure semantic retention fallback outputs numeric value
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix typing imports for collect_metrics
  scripts/perf/collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Adjust semantic retention fallback to None
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Adjust semantic retention fallback to null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

test: ensure semantic retention fallback emits null
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Fix semantic retention fallback to emit null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Set semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Update semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

docs: clarify retention metric handling
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @katamari-org/maintainers, @katamari-org/docs

docs: refresh metrics status
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/D_Trim_Design.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @katamari-org/maintainers, @katamari-org/docs

Update semantic retention fallback assertions
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Handle missing semantic retention as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Handle null compress ratio when log lacks metric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Handle null compress ratio from chainlit log
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

docs: reflect measured semantic retention
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/D_Trim_Design.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
  docs/adr/0005-m1-5-oauth-and-token-governance.md
Owners: @katamari-org/maintainers, @katamari-org/docs

Remove unused import in collect metrics test
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Update collect_metrics test docstring to describe fallback migration
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

docs: semantic_retention の欠損処理と進捗を反映
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @katamari-org/maintainers, @katamari-org/docs

Update semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Ensure semantic retention fallback serializes as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Handle null compress ratio metrics
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

docs: refresh semantic retention metrics description
  README.md
Owners: @katamari-org/maintainers

docs: update collect_metrics test docstring
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Add test for HTTP compress ratio override
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Update collect_metrics test docstring for fallback behavior
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Add failing test for null compress ratio and enforce HTTP missing handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Adjust semantic retention fallback to null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

docs: clarify semantic retention metric outputs
  README.md
Owners: @katamari-org/maintainers

Adjust semantic retention null expectations
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Handle missing semantic retention as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Ensure semantic retention falls back to JSON null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

docs: clarify collect_metrics retention fallback
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

docs: update trim retention checklist status
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/maintainers, @katamari-org/docs

docs: align collect_metrics test comment with spec
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

docs: update min_turns description
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/maintainers, @katamari-org/docs

docs: Trim保持率チェックリストの現状適合を明記
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/maintainers, @katamari-org/docs

Handle semantic retention compute failures
  src/app.py
  tests/app/test_semantic_retention.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

CODEOWNERS:

# CODEOWNERS は主要領域ごとにレビュー担当者を割り当てます。詳細は CONTRIBUTING.md を参照してください。

# 既定の担当者
* @katamari-org/maintainers

# アプリケーション実装
/src/ @katamari-org/maintainers @katamari-org/runtime
/config/ @katamari-org/maintainers @katamari-org/runtime

# テスト
/tests/ @katamari-org/maintainers @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @katamari-org/maintainers @katamari-org/docs
/public/ @katamari-org/maintainers @katamari-org/frontend
/themes/ @katamari-org/maintainers @katamari-org/design
/personas/ @katamari-org/maintainers @katamari-org/docs
/third_party/ @katamari-org/maintainers @katamari-org/integrations
/upstream/ @katamari-org/maintainers @katamari-org/integrations

# 運用・ビルド
/scripts/ @katamari-org/maintainers @katamari-org/devops
/Makefile @katamari-org/maintainers @katamari-org/devops
/Dockerfile @katamari-org/maintainers @katamari-org/devops
