Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @katamari-org/legal, @legal-counsel, @frontend-captain, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @sre-duty-officer, @data-science-lead

Handle missing semantic retention metric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Update README with name origin explanation
  README.md
Owners: @katamari-org/maintainers, @product-tech-lead

Handle persona reset on empty input
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add reasoning defaults for thinking models and cover forwarding
  src/app.py
  tests/app/test_get_provider.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add min turn preservation for context trimming
  src/app.py
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Compute semantic retention asynchronously
  src/app.py
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

feat: flag forbidden persona terms
  config/persona_forbidden_patterns.json
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/platform, @sre-duty-officer, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add full Python and Node CI gates
  .github/workflows/ci.yml
  Makefile
Owners: @katamari-org/tooling, @devrel-lead, @devops-lead

feat(ci): cache dependencies and log metrics
  .github/workflows/ci.yml
  RUNBOOK.md
  scripts/cache/hash_lockfiles.py
Owners: @katamari-org/tooling, @devrel-lead, @katamari-org/maintainers, @product-tech-lead, @devops-lead

Add recorded OpenAI stream fixtures for CI tests
  tests/providers/fixtures/openai_chat_reflect_stream.json
  tests/providers/test_openai_provider_stream.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Fix provider job secret condition
  .github/workflows/ci.yml
Owners: @katamari-org/tooling, @devrel-lead

fix: fallback when uv binary is unavailable
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/frontend, @frontend-captain

Add mypy configuration
  mypy.ini
Owners: @katamari-org/maintainers, @product-tech-lead

Ensure cypress fallback installs backend deps
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/frontend, @frontend-captain

fix: resolve ruff lint issues
  scripts/switch_theme.py
  src/core_ext/evolve.py
  src/core_ext/persona_compiler.py
  src/core_ext/prethought.py
  src/providers/openai_client.py
  upstream/chainlit/backend/chainlit/langchain/callbacks.py
  upstream/chainlit/backend/tests/data/storage_clients/test_gcs.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/backend, @runtime-duty-officer, @katamari-org/frontend, @frontend-captain

Add Chainlit React client type declarations
  upstream/chainlit/.gitignore
  upstream/chainlit/libs/react-client/dist/index.d.ts
Owners: @katamari-org/frontend, @frontend-captain

Ensure CI runs on pull requests
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Owners: @katamari-org/tooling, @devrel-lead

Improve backend lint fallback
  upstream/chainlit/backend/scripts/lint_python.sh
  upstream/chainlit/package.json
Owners: @katamari-org/frontend, @frontend-captain

ci: skip stale main push runs
  .github/workflows/ci.yml
Owners: @katamari-org/tooling, @devrel-lead

Pass min_turns to context trimmer
  src/app.py
Owners: @katamari-org/backend, @runtime-duty-officer

Fix trim_messages min_turns forwarding
  src/app.py
Owners: @katamari-org/backend, @runtime-duty-officer

Pass min_turns to context trimmer
  src/app.py
Owners: @katamari-org/backend, @runtime-duty-officer

Add module entry point for chainlit CLI
  upstream/chainlit/backend/chainlit/cli/__main__.py
  upstream/chainlit/backend/tests/test_cli_entrypoint.py
Owners: @katamari-org/frontend, @frontend-captain

Fix trim_messages monkeypatch signature
  tests/app/test_logging.py
Owners: @katamari-org/qa, @product-tech-lead

Ensure persona updates refresh history system prompt
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Fix UP022 lint in CLI entrypoint test
  upstream/chainlit/backend/tests/test_cli_entrypoint.py
Owners: @katamari-org/frontend, @frontend-captain

chore: ignore optional deps for mypy
  upstream/chainlit/backend/pyproject.toml
Owners: @katamari-org/frontend, @frontend-captain

Relax mypy missing import handling for optional deps
  mypy.ini
Owners: @katamari-org/maintainers, @product-tech-lead

Provide pandas stub for dataframe e2e sample
  upstream/chainlit/cypress/e2e/dataframe/main.py
Owners: @katamari-org/frontend, @frontend-captain

Ensure persona updates seed history with system prompt
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure min_turns forwarded to trim_messages
  src/app.py
Owners: @katamari-org/backend, @runtime-duty-officer

Align persona compiler fallback with default prompt
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle missing semantic retention metrics
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle missing llama_index for callback sample
  tests/app/test_chainlit_llama_index_stub.py
  upstream/chainlit/cypress/e2e/llama_index_cb/main.py
Owners: @katamari-org/qa, @product-tech-lead, @katamari-org/frontend, @frontend-captain

Add pandas fallback for chainlit dataframe test
  upstream/chainlit/cypress/e2e/dataframe/main.py
Owners: @katamari-org/frontend, @frontend-captain

Add plotly dependency for chainlit plot tests
  requirements.txt
Owners: @katamari-org/tooling, @product-tech-lead

Ensure semantic retention metrics retain unset state
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure persona compiler reuses app default prompt
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

fix: ensure plotly extra for cypress
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/frontend, @frontend-captain

Add fallback for Google API key in Gemini provider
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要ディレクトリ単位でレビュー責任者を明確化します。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# ガバナンス / ナレッジ
/docs/ @katamari-org/docs-team @devrel-lead
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead
/public/ @katamari-org/frontend @design-lead

# コアランタイム / バックエンド
/src/ @katamari-org/backend @runtime-duty-officer
/tests/ @katamari-org/qa @product-tech-lead
/third_party/ @katamari-org/legal @legal-counsel

# フロントエンド / ESM
/upstream/ @katamari-org/frontend @frontend-captain

# ツール / プラットフォーム
/scripts/ @katamari-org/tooling @devops-lead
/config/ @katamari-org/platform @sre-duty-officer
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / 依存関係
/Dockerfile @katamari-org/platform @sre-duty-officer
/Makefile @katamari-org/tooling @devops-lead
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead
