Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @legal-counsel, @katamari-org/qa, @sre-duty-officer, @katamari-org/backend, @runtime-duty-officer, @alice-architect, @katamari-org/runtime-team, @katamari-org/providers-team, @integrations-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/architecture-council, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @frontend-captain, @platform-liaison, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @data-science-lead, @katamari-org/legal

Validate collect_metrics URL schemes
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Use JSON for Cypress data layer persistence
  tests/app/test_data_layer_serialization.py
  upstream/chainlit/cypress/e2e/data_layer/main.py
  upstream/chainlit/cypress/e2e/data_layer/spec.cy.ts
Owners: @katamari-org/qa, @product-tech-lead, @katamari-org/frontend, @platform-liaison

Prevent custom build path traversal
  tests/app/test_custom_build_path.py
  upstream/chainlit/backend/chainlit/server.py
Owners: @katamari-org/qa, @product-tech-lead, @katamari-org/frontend, @platform-liaison

fix: harden console format strings
  upstream/chainlit/cypress/support/run.ts
  upstream/chainlit/frontend/src/components/MarkdownAlert.tsx
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @platform-liaison

fix: validate window message origin
  upstream/chainlit/frontend/src/AppWrapper.tsx
  upstream/chainlit/frontend/tests/app-wrapper.spec.tsx
Owners: @katamari-org/frontend, @platform-liaison

Implement resilient OpenAI streaming retries
  CHANGELOG.md
  RUNBOOK.md
  mypy.ini
  pyproject.toml
  src/providers/openai_client.py
  tests/app/test_chainlit_llama_index_stub.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @product-tech-lead, @sre-duty-officer, @katamari-org/providers-team, @integrations-lead, @katamari-org/qa

Ensure priority trim roles survive over-budget skips
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/runtime-team, @alice-architect, @katamari-org/qa, @product-tech-lead

Add prompt evolution tests and refine generator handling
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @katamari-org/runtime-team, @alice-architect, @katamari-org/qa, @product-tech-lead

feat: add SSE MCP retry helper with exponential backoff
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @platform-liaison

Add test for candidate generator seed handling
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @katamari-org/runtime-team, @alice-architect, @katamari-org/qa, @product-tech-lead

Ensure system override after persona reset
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Align Birdseye hot list timestamps with ISO8601
  RUNBOOK.md
  docs/birdseye/README.md
  docs/birdseye/hot.json
  mypy.ini
  scripts/birdseye_refresh.py
  tests/scripts/test_birdseye_refresh.py
  tests/workflow_cookbook/tools/test_codemap_update.py
Owners: @katamari-org/maintainers, @sre-duty-officer, @katamari-org/docs-team, @product-tech-lead, @katamari-org/tooling, @devops-lead, @katamari-org/qa

Fix RecoilRoot wrappers in useChatSession tests
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
Owners: @katamari-org/frontend, @platform-liaison

Fix custom build path handling
  tests/app/test_custom_build_path.py
  upstream/chainlit/backend/chainlit/server.py
Owners: @katamari-org/qa, @product-tech-lead, @katamari-org/frontend, @platform-liaison

Adjust SSE SSE retry limit
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @platform-liaison

Fix provider options reasoning parallel handling
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Ensure Birdseye hot list metadata stays in sync
  docs/birdseye/hot.json
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @katamari-org/docs-team, @product-tech-lead, @katamari-org/legal, @legal-counsel

Ensure birdseye hot.json timestamps mirror index
  docs/birdseye/hot.json
  scripts/birdseye_refresh.py
  tests/workflow_cookbook/tools/test_codemap_update.py
Owners: @katamari-org/docs-team, @product-tech-lead, @katamari-org/tooling, @devops-lead, @katamari-org/qa

Ensure thinking reasoning defaults are merged
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Handle structured OpenAI stream content
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/providers-team, @integrations-lead, @katamari-org/qa, @product-tech-lead

Fix reasoning defaults for thinking models
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Validate codemap targets before update
  third_party/Day8/workflow-cookbook/tools/codemap/README.md
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @katamari-org/legal, @legal-counsel

Preserve Birdseye hot list metadata
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @katamari-org/legal, @legal-counsel

Handle structured delta namespace content in OpenAI stream
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/providers-team, @integrations-lead, @katamari-org/qa, @product-tech-lead

Fix namespace token extraction recursion
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/providers-team, @integrations-lead, @katamari-org/qa, @product-tech-lead

Update README with repository status and suggestions
  README.md
Owners: @katamari-org/docs-team, @devrel-lead

Update README to include Japanese text
  README.md
Owners: @katamari-org/docs-team, @devrel-lead

fix: Resolve ruff lint errors
  chainlit.md
  src/core_ext/memory/__pycache__/inmemory.cpython-310.pyc
  src/core_ext/memory/inmemory.py
  tests/app/__pycache__/test_oauth.cpython-310-pytest-8.3.5.pyc
  tests/app/test_oauth.py
Owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/runtime-team, @alice-architect, @katamari-org/qa

fix: Add asyncio configuration to pytest.ini
  pytest.ini
Owners: @katamari-org/qa, @product-tech-lead

fix: Add pytest-asyncio to CI dependencies
  .github/workflows/ci.yml
Owners: @katamari-org/tooling, @devrel-lead

feat: Add start.bat for Windows
  start.bat
Owners: @katamari-org/maintainers, @product-tech-lead

fix: Auto-increment port if already in use
  start.bat
Owners: @katamari-org/maintainers, @product-tech-lead

feat: Add multi-provider support and improve setup experience
  .env.sample
  .gitignore
  README.md
  config/env.example
Owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/platform, @sre-duty-officer

chore: Organize root folder structure
  .env.sample
  CHECKLISTS.md
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/TASKS.md
  docs/UPSTREAM.md
  docs/addenda/H_Deploy_Guide.md
  docs/addenda/I_Test_Cases.md
  docs/addenda/J_Runbook.md
  docs/adr/0001-use-chainlit-subtree.md
  docs/adr/0005-m1-5-oauth-and-token-governance.md
  docs/adr/0007-m2-5-persistence-and-hybrid-memory.md
  docs/birdseye/README.md
  docs/tasks/TASK.2025-10-19-0001.md
  docs/tasks/TASK.2025-10-19-0002.md
  docs/tasks/TASK.2025-10-21-0002.md
  docs/tasks/TASK.2025-10-21-0003.md
  docs/tasks/TASK.2025-10-23-0001.md
Owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/qa, @katamari-org/docs-team, @devrel-lead, @katamari-org/architecture-council, @alice-architect

release: v1.0.0-frozen - Project frozen
  CHANGELOG.md
  README.md
Owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/docs-team, @devrel-lead

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要オーナーが一次レビュー責任者、副担当が代理承認とレビューサポートを担います。
# レビュー責務:
# - 主要オーナーは 1 営業日以内にレビュー可否を返信し、3 営業日以内に必須指摘を完了させます。
# - 副担当は主要オーナー不在時に代理し、合意形成とマージ判断をサポートします。
# - 重大インシデントや期限付き対応は `@katamari-org/maintainers` へ即時エスカレーションします。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# コミュニティポリシー / ガバナンス
/CONTRIBUTING.md @katamari-org/maintainers @product-tech-lead
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CHECKLISTS.md @katamari-org/qa @product-tech-lead
/RUNBOOK.md @katamari-org/maintainers @sre-duty-officer
/CHANGELOG.md @katamari-org/maintainers @product-tech-lead

# コアランタイム / バックエンド
/src/ @katamari-org/backend @runtime-duty-officer
/src/app.py @katamari-org/backend @alice-architect
/src/core_ext/ @katamari-org/runtime-team @alice-architect
/src/providers/ @katamari-org/providers-team @integrations-lead

# テスト / 品質保証
/tests/ @katamari-org/qa @product-tech-lead
/tests/fixtures/ @katamari-org/qa @runtime-duty-officer
/pytest.ini @katamari-org/qa @product-tech-lead

# ドキュメント / ナレッジ
/README.md @katamari-org/docs-team @devrel-lead
/docs/ @katamari-org/docs-team @devrel-lead
/docs/adr/ @katamari-org/architecture-council @alice-architect
/docs/openapi/ @katamari-org/architecture-council @product-tech-lead
/docs/addenda/ @katamari-org/docs-team @devrel-lead
/docs/birdseye/ @katamari-org/docs-team @product-tech-lead

# ペルソナ / ブランディング
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead
/public/ @katamari-org/frontend @design-lead

# フロントエンド / UI
/upstream/chainlit/ @katamari-org/frontend @frontend-captain
/upstream/ @katamari-org/frontend @platform-liaison

# ツール / 自動化
/scripts/ @katamari-org/tooling @devops-lead
/Makefile @katamari-org/tooling @devops-lead
/config/ci/ @katamari-org/tooling @devops-lead
/config/ @katamari-org/platform @sre-duty-officer
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / 依存関係
/Dockerfile @katamari-org/platform @sre-duty-officer
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead

# サードパーティ / ライセンス
/third_party/ @katamari-org/legal @legal-counsel
