Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa, @katamari-org/docs, @katamari-org/frontend, @katamari-org/design, @katamari-org/integrations, @katamari-org/devops

Improve websocket token retrieval
  tests/app/test_socket_auth.py
  upstream/chainlit/backend/chainlit/socket.py
Owners: @katamari-org/maintainers, @katamari-org/qa, @katamari-org/integrations

Improve websocket token retrieval
  tests/app/test_socket_auth.py
  upstream/chainlit/backend/chainlit/socket.py
Owners: @katamari-org/maintainers, @katamari-org/qa, @katamari-org/integrations

Refine element creation feedback
  upstream/chainlit/backend/chainlit/element.py
  upstream/chainlit/backend/tests/test_element.py
Owners: @katamari-org/maintainers, @katamari-org/integrations

Ensure Prometheus parser enforces uppercase NaN
  scripts/perf/collect_metrics.py
  tests/app/test_metrics_healthz.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Handle blank semantic retention API keys
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Normalize semantic retention model defaults
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure Prometheus metrics emit canonical NaN
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

fix: remove unsupported text fill property
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/maintainers, @katamari-org/integrations

fix: resolve background shorthand lint violation
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/maintainers, @katamari-org/integrations

fix: prevent conditional hook usage in ChatProfiles
  upstream/chainlit/frontend/src/components/header/ChatProfiles.tsx
  upstream/chainlit/frontend/tests/chat-profiles.spec.tsx
Owners: @katamari-org/maintainers, @katamari-org/integrations

Fix AskFileButton hook usage
  upstream/chainlit/frontend/src/components/chat/Messages/Message/AskFileButton.tsx
Owners: @katamari-org/maintainers, @katamari-org/integrations

Ensure Google Gemini provider requires API key
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

docs: document GOOGLE_API_KEY fallback
  README.md
  config/env.example
Owners: @katamari-org/maintainers, @katamari-org/runtime

test: ensure socket loader restores environment
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Refine socket auth loader cleanup
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Fix Prometheus parser to handle spaced label values
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Guard bearer parsing against whitespace
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure socket loader resets module stubs in tests
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Ensure socket loader restores environment
  pytest.ini
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Refine socket loader environment restoration
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Add failure cleanup test for socket loader
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Fix Prometheus parser for label values with spaces
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Reject bearer tokens containing whitespace
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add audio emitter stub hooks for socket auth tests
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Add stub websocket session registry
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Validate bearer token characters
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Handle Prometheus timestamps in metric parser
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Validate bearer tokens with token68 fullmatch
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure Gemini provider selection is case-insensitive
  src/app.py
  tests/app/test_get_provider.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add websocket session stub coverage
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Add emitter recording for socket audio start
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Add priority role retention to context trimmer
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add prompt evolution metrics orchestration
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add SSE reconnection retries for chat session
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/maintainers, @katamari-org/integrations

Add retryable streaming support for OpenAI provider
  src/providers/openai_client.py
  tests/app/test_logging.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Replace pickle persistence with JSON
  upstream/chainlit/cypress/e2e/data_layer/main.py
  upstream/chainlit/cypress/e2e/data_layer/spec.cy.ts
Owners: @katamari-org/maintainers, @katamari-org/integrations

Add SRI to KaTeX CDN stylesheet
  upstream/chainlit/frontend/index.html
Owners: @katamari-org/maintainers, @katamari-org/integrations

Fix percent sanitization in hslToHex
  upstream/chainlit/frontend/src/lib/utils.test.ts
  upstream/chainlit/frontend/src/lib/utils.ts
Owners: @katamari-org/maintainers, @katamari-org/integrations

Restrict dynamic imports in chainlit utils
  tests/app/test_chainlit_utils.py
  upstream/chainlit/backend/chainlit/utils.py
Owners: @katamari-org/maintainers, @katamari-org/qa, @katamari-org/integrations

fix: restrict window message target origin
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/maintainers, @katamari-org/integrations

CODEOWNERS:

# CODEOWNERS は主要領域ごとにレビュー担当者を割り当てます。詳細は CONTRIBUTING.md を参照してください。

# 既定の担当者
* @katamari-org/maintainers

# アプリケーション実装
/src/ @katamari-org/maintainers @katamari-org/runtime
/config/ @katamari-org/maintainers @katamari-org/runtime

# テスト
/tests/ @katamari-org/maintainers @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @katamari-org/maintainers @katamari-org/docs
/public/ @katamari-org/maintainers @katamari-org/frontend
/themes/ @katamari-org/maintainers @katamari-org/design
/personas/ @katamari-org/maintainers @katamari-org/docs
/third_party/ @katamari-org/maintainers @katamari-org/integrations
/upstream/ @katamari-org/maintainers @katamari-org/integrations

# 運用・ビルド
/scripts/ @katamari-org/maintainers @katamari-org/devops
/Makefile @katamari-org/maintainers @katamari-org/devops
/Dockerfile @katamari-org/maintainers @katamari-org/devops
