Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @katamari-org/legal, @legal-counsel, @frontend-captain, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @sre-duty-officer, @data-science-lead

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要ディレクトリ単位でレビュー責任者を明確化します。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# ガバナンス / ナレッジ
/docs/ @katamari-org/docs-team @devrel-lead
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead
/public/ @katamari-org/frontend @design-lead

# コアランタイム / バックエンド
/src/ @katamari-org/backend @runtime-duty-officer
/tests/ @katamari-org/qa @product-tech-lead
/third_party/ @katamari-org/legal @legal-counsel

# フロントエンド / ESM
/upstream/ @katamari-org/frontend @frontend-captain

# ツール / プラットフォーム
/scripts/ @katamari-org/tooling @devops-lead
/config/ @katamari-org/platform @sre-duty-officer
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / 依存関係
/Dockerfile @katamari-org/platform @sre-duty-officer
/Makefile @katamari-org/tooling @devops-lead
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead

Ensure persona YAML widget stays multiline
  src/app.py
  tests/app/test_on_start.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure context trimmer always preserves latest turn
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add remote-aware subtree pull test and fix command
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix show_debug coercion and add regression test
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

docs: add plotly to deploy guide dependencies
  docs/addenda/H_Deploy_Guide.md
Owners: @katamari-org/docs-team, @devrel-lead

Add lazy openai import guards and tests
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Fix AsyncOpenAI factory typing
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer

Ensure OpenAI provider surfaces ImportError when dependency missing
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer

docs: note plotly constraint in deploy guide
  docs/addenda/H_Deploy_Guide.md
Owners: @katamari-org/docs-team, @devrel-lead

Normalize show_debug settings handling
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add remote-aware dry-run test for chainlit subtree sync
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Refactor stub factory to satisfy ruff
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/qa, @product-tech-lead

Add merge tab planning bridge and guard-aware view
  src/annotations/merge.js
  tests/annotations/test_merge_view.mjs
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Fix OpenAI provider AsyncOpenAI resolution
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer

Ensure OpenAI provider prompts upgrading openai
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

docs: require openai 1.30 in deploy guide
  docs/addenda/H_Deploy_Guide.md
Owners: @katamari-org/docs-team, @devrel-lead

Fix ruff violation in OpenAI provider stream test
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/qa, @product-tech-lead

Ensure metrics export reports NaN for missing retention
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure subtree sync fetch overwrites existing tags
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix AsyncOpenAI factory typing
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer

Fix AsyncOpenAI typing and expose factory
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle legacy openai imports in provider
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Align OpenAI upgrade guidance
  docs/addenda/H_Deploy_Guide.md
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/docs-team, @devrel-lead, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle rerun of sync_chainlit_subtree tag fetch
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Add tests for metrics NaN export and handle NaN formatting
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle missing AsyncOpenAI factories in OpenAI provider
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Deduplicate hash lockfile inputs
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Normalize lockfile digest paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure legacy openai stubs raise helpful ImportError
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle duplicate lockfile paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix ruff check failure in OpenAI client
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer

Ensure hash lockfile digest ignores duplicate paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Add regression coverage for OpenAI stub factory
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Expose AsyncOpenAI alias for provider stubbing
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Remove unused mypy ignores in OpenAI client
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer

Fix Prometheus NaN casing for semantic retention
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Allow overriding OpenAI client factory
  src/providers/openai_client.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add TypeGuard for AsyncOpenAI factory resolution
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer
