Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/integrations, @katamari-org/devops, @katamari-org/qa, @katamari-org/docs, @katamari-org/frontend, @katamari-org/design

Propagate invalid Chainlit metrics as NaN
  scripts/perf/collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Fix Prometheus metric parsing with labels
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Ensure Chainlit metrics require latest compress ratio
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Adjust semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix missing constant import in metrics test
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Fix semantic retention fallback equality
  scripts/perf/collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Fix semantic retention fallback when missing in chainlit log
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Ensure semantic retention fallback is finite
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Handle NaN semantic retention
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Handle semantic retention nan as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Refine Chainlit metric parsing
  scripts/perf/collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Remove unused variable in metrics parser
  scripts/perf/collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Fix Chainlit metric parsing for missing keys
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix Chainlit metric parsing for missing semantic retention
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Adjust semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Normalize semantic retention NaN handling
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Handle null semantic retention in metrics collector
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Initialize missing and null key trackers
  scripts/perf/collect_metrics.py
  src/app.py
  tests/app/test_logging.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/runtime, @katamari-org/qa

Initialize missing and null key trackers
  scripts/perf/collect_metrics.py
  src/app.py
  tests/app/test_logging.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/runtime, @katamari-org/qa

Adjust semantic retention fallback expectations
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix Chainlit log parsing fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix semantic retention fallback
  scripts/perf/collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Add regression coverage for Chainlit metrics parsing
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

fix: set semantic retention fallback to none
  scripts/perf/collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Fix Chainlit log parsing and add regression test
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Adjust semantic retention fallback expectations
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Ensure semantic retention fallback is finite
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Add regression test for Chainlit-only metrics CLI
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Mark semantic retention fallback as final
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Ensure missing semantic retention falls back to default
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Handle non-string retention content
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Fix metric selection when log reports null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Ensure semantic retention fallback is numeric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Allow negative semantic retention metrics
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Adjust semantic retention fallback to None
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

chore: remove unused typing import
  scripts/perf/collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Fix collect_metrics error handling test and import
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix missing compress ratio CLI test
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

CODEOWNERS:

# CODEOWNERS は主要領域ごとにレビュー担当者を割り当てます。詳細は CONTRIBUTING.md を参照してください。

# 既定の担当者
* @katamari-org/maintainers

# コアアプリケーション
/src/ @katamari-org/maintainers @katamari-org/runtime
/src/providers/ @katamari-org/maintainers @katamari-org/integrations
/src/core_ext/ @katamari-org/maintainers @katamari-org/runtime

# 設定・デプロイ
/config/ @katamari-org/maintainers @katamari-org/devops
/scripts/ @katamari-org/maintainers @katamari-org/devops
/Dockerfile @katamari-org/maintainers @katamari-org/devops

# テストと検証
/tests/ @katamari-org/maintainers @katamari-org/qa

# ドキュメントと UX
/docs/ @katamari-org/maintainers @katamari-org/docs
/public/ @katamari-org/maintainers @katamari-org/frontend
/themes/ @katamari-org/maintainers @katamari-org/design

# コミュニティマテリアル
/CODE_OF_CONDUCT.md @katamari-org/maintainers @katamari-org/docs
/CONTRIBUTING.md @katamari-org/maintainers @katamari-org/docs
