Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/legal, @katamari-org/devops, @katamari-org/runtime, @katamari-org/design, @katamari-org/frontend, @katamari-org/qa, @katamari-org/architecture

CODEOWNERS:

# CODEOWNERS は主要ディレクトリごとにリポジトリオーナー（個人 + AI）を必ず含め、専門チームを補助 reviewer として指定します。
# - 個人オーナー: @RNA4219
# - AI オーナー:   @katamari-bot
# - 連携ルール: 最終承認は人間オーナーが行い、AI オーナーは差分検証ログを残します。
# 詳細は CONTRIBUTING.md と CODE_OF_CONDUCT.md を参照してください。

# 既定の担当者
* @RNA4219 @katamari-bot

# ルート配下の共通資産
/README.md @RNA4219 @katamari-bot @katamari-org/docs
/CHANGELOG.md @RNA4219 @katamari-bot @katamari-org/docs
/LICENSE @RNA4219 @katamari-bot @katamari-org/legal
/NOTICE @RNA4219 @katamari-bot @katamari-org/legal
/Dockerfile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile.* @RNA4219 @katamari-bot @katamari-org/devops
/RUNBOOK.md @RNA4219 @katamari-bot @katamari-org/devops
/CHECKLISTS.md @RNA4219 @katamari-bot @katamari-org/devops
/TASK.*.md @RNA4219 @katamari-bot @katamari-org/docs

# アプリケーション実装
/src/ @RNA4219 @katamari-bot @katamari-org/runtime
/personas/ @RNA4219 @katamari-bot @katamari-org/runtime
/themes/ @RNA4219 @katamari-bot @katamari-org/design
/public/ @RNA4219 @katamari-bot @katamari-org/frontend
/upstream/ @RNA4219 @katamari-bot @katamari-org/runtime
/config/ @RNA4219 @katamari-bot @katamari-org/runtime
/scripts/ @RNA4219 @katamari-bot @katamari-org/devops

# テストと品質保証
/tests/ @RNA4219 @katamari-bot @katamari-org/qa
/third_party/ @RNA4219 @katamari-bot @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @RNA4219 @katamari-bot @katamari-org/docs
/docs/adr/ @RNA4219 @katamari-bot @katamari-org/architecture
/BLUEPRINT.md @RNA4219 @katamari-bot @katamari-org/docs

# 運用・自動化ツール
/.github/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/workflows/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/ISSUE_TEMPLATE/ @RNA4219 @katamari-bot @katamari-org/docs
/.github/PULL_REQUEST_TEMPLATE.md @RNA4219 @katamari-bot @katamari-org/docs

# 設定・データ資産
/third_party/licenses/ @RNA4219 @katamari-bot @katamari-org/legal

Normalize lockfile digest paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Handle home directory expansion in lockfile hashing
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Refresh OpenAI factory cache when alias changes
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure AsyncOpenAI alias is always available
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add home path deduplication test for hash lockfiles
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Handle blank Gemini API keys
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Handle blank OpenAI API key values
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix mypy issues in OpenAI client
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

fix: harden openai client resolution
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Refine lockfile normalization
  scripts/cache/hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

Normalize lockfile hashing by repository-relative paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Raise error for missing lockfile paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Ensure missing lockfiles surface ENOENT
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Normalize lockfile hashing to repo-relative paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Validate OPENAI_API_KEY before creating client
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix AsyncOpenAI fallback handling
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix OpenAI provider cache refresh and lockfile normalization
  scripts/cache/hash_lockfiles.py
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/runtime, @katamari-org/qa

Refine async OpenAI factory detection
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Normalize default choice resolution
  src/app.py
  tests/app/test_on_start.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Normalize whitespace-only retention embedder keys
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Adjust metrics tests to expect uppercase NaN
  tests/app/test_metrics_healthz.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Ensure Prometheus metrics export emits NaN
  src/app.py
  tests/app/test_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

chore: run container as non root
  Dockerfile
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

Fix invalid text fill property in copilot styles
  upstream/chainlit/libs/copilot/src/index.css
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Refine element creation feedback
  upstream/chainlit/backend/chainlit/element.py
  upstream/chainlit/backend/tests/test_element.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Refactor feedback handling in ReadOnlyThread
  upstream/chainlit/frontend/src/components/ReadOnlyThread.tsx
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Enforce secure SSL defaults for SQLAlchemy data layer
  upstream/chainlit/backend/chainlit/data/sql_alchemy.py
  upstream/chainlit/backend/tests/data/test_sql_alchemy.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Add comment for update_step stub
  upstream/chainlit/cypress/e2e/data_layer/main.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Refactor chat upload callbacks
  upstream/chainlit/frontend/src/components/chat/index.tsx
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Add comment for missing step persistence
  upstream/chainlit/cypress/e2e/thread_resume/main.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

fix: restrict window message target origin
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix loading shimmer background declarations
  upstream/chainlit/frontend/src/index.css
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix background property ordering for loading shimmer
  upstream/chainlit/libs/copilot/src/index.css
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Enable SSL hostname verification
  upstream/chainlit/backend/chainlit/data/sql_alchemy.py
  upstream/chainlit/backend/tests/data/test_sql_alchemy.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

fix: reorder loading shimmer background declaration
  upstream/chainlit/frontend/src/index.css
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix dataframe hook usage
  upstream/chainlit/frontend/src/components/Elements/Dataframe.tsx
  upstream/chainlit/frontend/tests/dataframe.spec.tsx
  upstream/chainlit/frontend/tests/stubs/chainlit-react-client.ts
  upstream/chainlit/frontend/vitest.config.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix loading shimmer background-position order
  upstream/chainlit/libs/copilot/src/index.css
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix step decorator call
  upstream/chainlit/backend/chainlit/step.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix invalid text-fill-color declaration
  upstream/chainlit/frontend/src/index.css
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime
