Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/legal, @katamari-org/devops, @katamari-org/runtime, @katamari-org/design, @katamari-org/frontend, @katamari-org/qa, @katamari-org/architecture

CODEOWNERS:

# CODEOWNERS は主要ディレクトリごとにリポジトリオーナー（個人 + AI）を必ず含め、専門チームを補助 reviewer として指定します。
# - 個人オーナー: @RNA4219
# - AI オーナー:   @katamari-bot
# - 連携ルール: 最終承認は人間オーナーが行い、AI オーナーは差分検証ログを残します。
# 詳細は CONTRIBUTING.md と CODE_OF_CONDUCT.md を参照してください。

# 既定の担当者
* @RNA4219 @katamari-bot

# ルート配下の共通資産
/README.md @RNA4219 @katamari-bot @katamari-org/docs
/CHANGELOG.md @RNA4219 @katamari-bot @katamari-org/docs
/LICENSE @RNA4219 @katamari-bot @katamari-org/legal
/NOTICE @RNA4219 @katamari-bot @katamari-org/legal
/Dockerfile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile.* @RNA4219 @katamari-bot @katamari-org/devops
/RUNBOOK.md @RNA4219 @katamari-bot @katamari-org/devops
/CHECKLISTS.md @RNA4219 @katamari-bot @katamari-org/devops
/TASK.*.md @RNA4219 @katamari-bot @katamari-org/docs

# アプリケーション実装
/src/ @RNA4219 @katamari-bot @katamari-org/runtime
/personas/ @RNA4219 @katamari-bot @katamari-org/runtime
/themes/ @RNA4219 @katamari-bot @katamari-org/design
/public/ @RNA4219 @katamari-bot @katamari-org/frontend
/upstream/ @RNA4219 @katamari-bot @katamari-org/runtime
/config/ @RNA4219 @katamari-bot @katamari-org/runtime
/scripts/ @RNA4219 @katamari-bot @katamari-org/devops

# テストと品質保証
/tests/ @RNA4219 @katamari-bot @katamari-org/qa
/third_party/ @RNA4219 @katamari-bot @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @RNA4219 @katamari-bot @katamari-org/docs
/docs/adr/ @RNA4219 @katamari-bot @katamari-org/architecture
/BLUEPRINT.md @RNA4219 @katamari-bot @katamari-org/docs

# 運用・自動化ツール
/.github/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/workflows/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/ISSUE_TEMPLATE/ @RNA4219 @katamari-bot @katamari-org/docs
/.github/PULL_REQUEST_TEMPLATE.md @RNA4219 @katamari-bot @katamari-org/docs

# 設定・データ資産
/third_party/licenses/ @RNA4219 @katamari-bot @katamari-org/legal

Ensure persona YAML widget stays multiline
  src/app.py
  tests/app/test_on_start.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure context trimmer always preserves latest turn
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add remote-aware subtree pull test and fix command
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Fix show_debug coercion and add regression test
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

docs: add plotly to deploy guide dependencies
  docs/addenda/H_Deploy_Guide.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Add lazy openai import guards and tests
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix AsyncOpenAI factory typing
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Ensure OpenAI provider surfaces ImportError when dependency missing
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

docs: note plotly constraint in deploy guide
  docs/addenda/H_Deploy_Guide.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Normalize show_debug settings handling
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add remote-aware dry-run test for chainlit subtree sync
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Refactor stub factory to satisfy ruff
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Add merge tab planning bridge and guard-aware view
  src/annotations/merge.js
  tests/annotations/test_merge_view.mjs
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix OpenAI provider AsyncOpenAI resolution
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Ensure OpenAI provider prompts upgrading openai
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

docs: require openai 1.30 in deploy guide
  docs/addenda/H_Deploy_Guide.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Fix ruff violation in OpenAI provider stream test
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Ensure metrics export reports NaN for missing retention
  src/app.py
  tests/app/test_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure subtree sync fetch overwrites existing tags
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Fix AsyncOpenAI factory typing
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix AsyncOpenAI typing and expose factory
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Handle legacy openai imports in provider
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Align OpenAI upgrade guidance
  docs/addenda/H_Deploy_Guide.md
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/runtime, @katamari-org/qa

Handle rerun of sync_chainlit_subtree tag fetch
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Add tests for metrics NaN export and handle NaN formatting
  src/app.py
  tests/app/test_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Handle missing AsyncOpenAI factories in OpenAI provider
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Deduplicate hash lockfile inputs
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Normalize lockfile digest paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Ensure legacy openai stubs raise helpful ImportError
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Handle duplicate lockfile paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Fix ruff check failure in OpenAI client
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Ensure hash lockfile digest ignores duplicate paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Add regression coverage for OpenAI stub factory
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Expose AsyncOpenAI alias for provider stubbing
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Remove unused mypy ignores in OpenAI client
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix Prometheus NaN casing for semantic retention
  src/app.py
  tests/app/test_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Allow overriding OpenAI client factory
  src/providers/openai_client.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add TypeGuard for AsyncOpenAI factory resolution
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime
