Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/runtime-team, @alice-architect, @katamari-org/providers-team, @integrations-lead, @katamari-org/backend, @runtime-duty-officer, @katamari-org/docs-team, @devrel-lead, @katamari-org/architecture-council, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @frontend-captain, @platform-liaison, @katamari-org/qa, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @sre-duty-officer, @data-science-lead, @katamari-org/legal, @legal-counsel

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要オーナーは一次レビュー責任者、副担当はレビュー支援・代理承認責任を持ちます。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# コアランタイム拡張
/src/core_ext/ @katamari-org/runtime-team @alice-architect

# プロバイダ統合
/src/providers/ @katamari-org/providers-team @integrations-lead

# アプリケーションサービス
/src/app.py @katamari-org/backend @alice-architect
/src/services/ @katamari-org/backend @product-tech-lead
/src/ @katamari-org/backend @runtime-duty-officer

# ドキュメント / ナレッジベース
/README.md @katamari-org/docs-team @devrel-lead
/docs/adr/ @katamari-org/architecture-council @alice-architect
/docs/ @katamari-org/docs-team @devrel-lead

# ペルソナ / テーマ
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead

# 公開アセット / フロントエンド
/public/ @katamari-org/frontend @design-lead
/upstream/chainlit/ @katamari-org/frontend @frontend-captain
/upstream/ @katamari-org/frontend @platform-liaison

# Python / 共有テスト
/tests/ @katamari-org/qa @product-tech-lead
/pytest.ini @katamari-org/qa @product-tech-lead

# ツール / 自動化
/scripts/ @katamari-org/tooling @devops-lead
/Makefile @katamari-org/tooling @devops-lead
/config/ci/ @katamari-org/tooling @devops-lead
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / インフラ
/config/ @katamari-org/platform @sre-duty-officer
/Dockerfile @katamari-org/platform @sre-duty-officer

# 依存関係管理
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead

# サードパーティ / ライセンス
/third_party/ @katamari-org/legal @legal-counsel

# トップレベルガバナンス
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CONTRIBUTING.md @katamari-org/maintainers @product-tech-lead
/CHECKLISTS.md @katamari-org/qa @product-tech-lead

Set semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix redundant key tracking in metric log parsing
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Ensure semantic retention fallback outputs numeric value
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix typing imports for collect_metrics
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Adjust semantic retention fallback to None
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback to null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

test: ensure semantic retention fallback emits null
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback to emit null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Set semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Update semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

docs: clarify retention metric handling
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @katamari-org/docs-team, @devrel-lead

docs: refresh metrics status
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/D_Trim_Design.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @katamari-org/docs-team, @devrel-lead

Update semantic retention fallback assertions
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Handle missing semantic retention as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle null compress ratio when log lacks metric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle null compress ratio from chainlit log
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

docs: reflect measured semantic retention
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/D_Trim_Design.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
  docs/adr/0005-m1-5-oauth-and-token-governance.md
Owners: @katamari-org/docs-team, @devrel-lead

Remove unused import in collect metrics test
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Update collect_metrics test docstring to describe fallback migration
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

docs: semantic_retention の欠損処理と進捗を反映
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @katamari-org/docs-team, @devrel-lead

Update semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure semantic retention fallback serializes as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle null compress ratio metrics
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

docs: refresh semantic retention metrics description
  README.md
Owners: @katamari-org/docs-team, @devrel-lead

docs: update collect_metrics test docstring
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Add test for HTTP compress ratio override
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Update collect_metrics test docstring for fallback behavior
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Add failing test for null compress ratio and enforce HTTP missing handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback to null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

docs: clarify semantic retention metric outputs
  README.md
Owners: @katamari-org/docs-team, @devrel-lead

Adjust semantic retention null expectations
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Handle missing semantic retention as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure semantic retention falls back to JSON null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

docs: clarify collect_metrics retention fallback
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

docs: update trim retention checklist status
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/docs-team, @devrel-lead

docs: align collect_metrics test comment with spec
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

docs: update min_turns description
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/docs-team, @devrel-lead

docs: Trim保持率チェックリストの現状適合を明記
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/docs-team, @devrel-lead

Handle semantic retention compute failures
  src/app.py
  tests/app/test_semantic_retention.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead
