Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @legal-counsel, @katamari-org/qa, @sre-duty-officer, @katamari-org/backend, @runtime-duty-officer, @alice-architect, @katamari-org/runtime-team, @katamari-org/providers-team, @integrations-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/architecture-council, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @frontend-captain, @platform-liaison, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @data-science-lead, @katamari-org/legal

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要オーナーが一次レビュー責任者、副担当が代理承認とレビューサポートを担います。
# レビュー責務:
# - 主要オーナーは 1 営業日以内にレビュー可否を返信し、3 営業日以内に必須指摘を完了させます。
# - 副担当は主要オーナー不在時に代理し、合意形成とマージ判断をサポートします。
# - 重大インシデントや期限付き対応は `@katamari-org/maintainers` へ即時エスカレーションします。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# コミュニティポリシー / ガバナンス
/CONTRIBUTING.md @katamari-org/maintainers @product-tech-lead
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CHECKLISTS.md @katamari-org/qa @product-tech-lead
/RUNBOOK.md @katamari-org/maintainers @sre-duty-officer
/CHANGELOG.md @katamari-org/maintainers @product-tech-lead

# コアランタイム / バックエンド
/src/ @katamari-org/backend @runtime-duty-officer
/src/app.py @katamari-org/backend @alice-architect
/src/core_ext/ @katamari-org/runtime-team @alice-architect
/src/providers/ @katamari-org/providers-team @integrations-lead

# テスト / 品質保証
/tests/ @katamari-org/qa @product-tech-lead
/tests/fixtures/ @katamari-org/qa @runtime-duty-officer
/pytest.ini @katamari-org/qa @product-tech-lead

# ドキュメント / ナレッジ
/README.md @katamari-org/docs-team @devrel-lead
/docs/ @katamari-org/docs-team @devrel-lead
/docs/adr/ @katamari-org/architecture-council @alice-architect
/docs/openapi/ @katamari-org/architecture-council @product-tech-lead
/docs/addenda/ @katamari-org/docs-team @devrel-lead
/docs/birdseye/ @katamari-org/docs-team @product-tech-lead

# ペルソナ / ブランディング
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead
/public/ @katamari-org/frontend @design-lead

# フロントエンド / UI
/upstream/chainlit/ @katamari-org/frontend @frontend-captain
/upstream/ @katamari-org/frontend @platform-liaison

# ツール / 自動化
/scripts/ @katamari-org/tooling @devops-lead
/Makefile @katamari-org/tooling @devops-lead
/config/ci/ @katamari-org/tooling @devops-lead
/config/ @katamari-org/platform @sre-duty-officer
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / 依存関係
/Dockerfile @katamari-org/platform @sre-duty-officer
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead

# サードパーティ / ライセンス
/third_party/ @katamari-org/legal @legal-counsel

Propagate invalid Chainlit metrics as NaN
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Fix Prometheus metric parsing with labels
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure Chainlit metrics require latest compress ratio
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix missing constant import in metrics test
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback equality
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Fix semantic retention fallback when missing in chainlit log
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure semantic retention fallback is finite
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle NaN semantic retention
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Handle semantic retention nan as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Refine Chainlit metric parsing
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Remove unused variable in metrics parser
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Fix Chainlit metric parsing for missing keys
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix Chainlit metric parsing for missing semantic retention
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Normalize semantic retention NaN handling
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Handle null semantic retention in metrics collector
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Initialize missing and null key trackers
  scripts/perf/collect_metrics.py
  src/app.py
  tests/app/test_logging.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Initialize missing and null key trackers
  scripts/perf/collect_metrics.py
  src/app.py
  tests/app/test_logging.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback expectations
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix Chainlit log parsing fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Add regression coverage for Chainlit metrics parsing
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

fix: set semantic retention fallback to none
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Fix Chainlit log parsing and add regression test
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback expectations
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Ensure semantic retention fallback is finite
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Add regression test for Chainlit-only metrics CLI
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Mark semantic retention fallback as final
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure missing semantic retention falls back to default
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle non-string retention content
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/runtime-team, @alice-architect, @katamari-org/qa, @product-tech-lead

Fix metric selection when log reports null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure semantic retention fallback is numeric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Allow negative semantic retention metrics
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback to None
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

chore: remove unused typing import
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Fix collect_metrics error handling test and import
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix missing compress ratio CLI test
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead
