Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/legal, @katamari-org/devops, @katamari-org/runtime, @katamari-org/design, @katamari-org/frontend, @katamari-org/qa, @katamari-org/architecture

Validate collect_metrics URL schemes
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Use JSON for Cypress data layer persistence
  tests/app/test_data_layer_serialization.py
  upstream/chainlit/cypress/e2e/data_layer/main.py
  upstream/chainlit/cypress/e2e/data_layer/spec.cy.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/qa, @katamari-org/runtime

Prevent custom build path traversal
  tests/app/test_custom_build_path.py
  upstream/chainlit/backend/chainlit/server.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa, @katamari-org/runtime

fix: harden console format strings
  upstream/chainlit/cypress/support/run.ts
  upstream/chainlit/frontend/src/components/MarkdownAlert.tsx
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

fix: validate window message origin
  upstream/chainlit/frontend/src/AppWrapper.tsx
  upstream/chainlit/frontend/tests/app-wrapper.spec.tsx
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Implement resilient OpenAI streaming retries
  CHANGELOG.md
  RUNBOOK.md
  mypy.ini
  pyproject.toml
  src/providers/openai_client.py
  tests/app/test_chainlit_llama_index_stub.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/devops, @katamari-org/runtime, @katamari-org/qa

Ensure priority trim roles survive over-budget skips
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
  tests/core_ext/test_context_trimmer.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add prompt evolution tests and refine generator handling
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

feat: add SSE MCP retry helper with exponential backoff
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Add test for candidate generator seed handling
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure system override after persona reset
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Align Birdseye hot list timestamps with ISO8601
  RUNBOOK.md
  docs/birdseye/README.md
  docs/birdseye/hot.json
  mypy.ini
  scripts/birdseye_refresh.py
  tests/scripts/test_birdseye_refresh.py
  tests/workflow_cookbook/tools/test_codemap_update.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/docs, @katamari-org/qa

Fix RecoilRoot wrappers in useChatSession tests
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix custom build path handling
  tests/app/test_custom_build_path.py
  upstream/chainlit/backend/chainlit/server.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa, @katamari-org/runtime

Adjust SSE SSE retry limit
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix provider options reasoning parallel handling
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure Birdseye hot list metadata stays in sync
  docs/birdseye/hot.json
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/qa

Ensure birdseye hot.json timestamps mirror index
  docs/birdseye/hot.json
  scripts/birdseye_refresh.py
  tests/workflow_cookbook/tools/test_codemap_update.py
Owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/devops, @katamari-org/qa

Ensure thinking reasoning defaults are merged
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Handle structured OpenAI stream content
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix reasoning defaults for thinking models
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Validate codemap targets before update
  third_party/Day8/workflow-cookbook/tools/codemap/README.md
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Preserve Birdseye hot list metadata
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Handle structured delta namespace content in OpenAI stream
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix namespace token extraction recursion
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Update README with repository status and suggestions
  README.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Update README to include Japanese text
  README.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

fix: Resolve ruff lint errors
  chainlit.md
  src/core_ext/memory/__pycache__/inmemory.cpython-310.pyc
  src/core_ext/memory/inmemory.py
  tests/app/__pycache__/test_oauth.cpython-310-pytest-8.3.5.pyc
  tests/app/test_oauth.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

fix: Add asyncio configuration to pytest.ini
  pytest.ini
Owners: @RNA4219, @katamari-bot

fix: Add pytest-asyncio to CI dependencies
  .github/workflows/ci.yml
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

feat: Add start.bat for Windows
  start.bat
Owners: @RNA4219, @katamari-bot

fix: Auto-increment port if already in use
  start.bat
Owners: @RNA4219, @katamari-bot

feat: Add multi-provider support and improve setup experience
  .env.sample
  .gitignore
  README.md
  config/env.example
Owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/runtime

chore: Organize root folder structure
  .env.sample
  CHECKLISTS.md
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/TASKS.md
  docs/UPSTREAM.md
  docs/addenda/H_Deploy_Guide.md
  docs/addenda/I_Test_Cases.md
  docs/addenda/J_Runbook.md
  docs/adr/0001-use-chainlit-subtree.md
  docs/adr/0005-m1-5-oauth-and-token-governance.md
  docs/adr/0007-m2-5-persistence-and-hybrid-memory.md
  docs/birdseye/README.md
  docs/tasks/TASK.2025-10-19-0001.md
  docs/tasks/TASK.2025-10-19-0002.md
  docs/tasks/TASK.2025-10-21-0002.md
  docs/tasks/TASK.2025-10-21-0003.md
  docs/tasks/TASK.2025-10-23-0001.md
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/docs, @katamari-org/architecture

release: v1.0.0-frozen - Project frozen
  CHANGELOG.md
  README.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

CODEOWNERS:

# CODEOWNERS は主要ディレクトリごとにリポジトリオーナー（個人 + AI）を必ず含め、専門チームを補助 reviewer として指定します。
# - 個人オーナー: @RNA4219
# - AI オーナー:   @katamari-bot
# - 連携ルール: 最終承認は人間オーナーが行い、AI オーナーは差分検証ログを残します。
# 詳細は CONTRIBUTING.md と CODE_OF_CONDUCT.md を参照してください。

# 既定の担当者
* @RNA4219 @katamari-bot

# ルート配下の共通資産
/README.md @RNA4219 @katamari-bot @katamari-org/docs
/CHANGELOG.md @RNA4219 @katamari-bot @katamari-org/docs
/LICENSE @RNA4219 @katamari-bot @katamari-org/legal
/NOTICE @RNA4219 @katamari-bot @katamari-org/legal
/Dockerfile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile.* @RNA4219 @katamari-bot @katamari-org/devops
/RUNBOOK.md @RNA4219 @katamari-bot @katamari-org/devops
/CHECKLISTS.md @RNA4219 @katamari-bot @katamari-org/devops
/TASK.*.md @RNA4219 @katamari-bot @katamari-org/docs

# アプリケーション実装
/src/ @RNA4219 @katamari-bot @katamari-org/runtime
/personas/ @RNA4219 @katamari-bot @katamari-org/runtime
/themes/ @RNA4219 @katamari-bot @katamari-org/design
/public/ @RNA4219 @katamari-bot @katamari-org/frontend
/upstream/ @RNA4219 @katamari-bot @katamari-org/runtime
/config/ @RNA4219 @katamari-bot @katamari-org/runtime
/scripts/ @RNA4219 @katamari-bot @katamari-org/devops

# テストと品質保証
/tests/ @RNA4219 @katamari-bot @katamari-org/qa
/third_party/ @RNA4219 @katamari-bot @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @RNA4219 @katamari-bot @katamari-org/docs
/docs/adr/ @RNA4219 @katamari-bot @katamari-org/architecture
/BLUEPRINT.md @RNA4219 @katamari-bot @katamari-org/docs

# 運用・自動化ツール
/.github/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/workflows/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/ISSUE_TEMPLATE/ @RNA4219 @katamari-bot @katamari-org/docs
/.github/PULL_REQUEST_TEMPLATE.md @RNA4219 @katamari-bot @katamari-org/docs

# 設定・データ資産
/third_party/licenses/ @RNA4219 @katamari-bot @katamari-org/legal
