Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/legal, @katamari-org/devops, @katamari-org/runtime, @katamari-org/design, @katamari-org/frontend, @katamari-org/qa, @katamari-org/architecture

Handle missing semantic retention as NaN
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure min_turns preserves user assistant turns
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix Gemini retention embedder API key precedence
  README.md
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/runtime, @katamari-org/qa

Handle missing semantic retention as nan
  src/app.py
  tests/app/test_metrics_healthz.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix Prometheus NaN export for semantic retention
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

chore: enforce mypy on src and fix strict errors
  mypy.ini
  src/app.py
  src/core_ext/context_trimmer.py
  src/core_ext/evolve.py
  src/core_ext/retention.py
  src/providers/google_gemini_client.py
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

chore: drop unused typing imports
  src/app.py
  src/core_ext/context_trimmer.py
  src/providers/google_gemini_client.py
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix context trimmer budget for system tokens
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Normalize semantic retention NaN metrics
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Add test for mypy files configuration
  tests/scripts/test_mypy_config.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Fix Chainlit session access lazily
  src/app.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Add Google API key fallback for Gemini embedder
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix metric fallback preference for NaN values
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Fix embedder cache rebuild for semantic retention
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix rebuild of retention embedder cache
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Use NaN fallback for semantic retention metrics
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Remove unused math import from collect metrics test
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Use isnan helper in collect metrics tests
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Fix embedder cache rebuild logic
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Use NaN fallback for semantic retention metrics
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Fix embedder cache invalidation and add regression test
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix embedder cache invalidation and add regression test
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix collect_metrics NaN override preference
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Fix isnan reference in metrics test
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Ensure semantic retention fallback is finite
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Ensure gemini embedder reconfigures on key change
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix Gemini embedder cache invalidation
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add tests for on_start defaults and align select initialization
  src/app.py
  tests/app/test_on_start.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Remove unused os import from test
  tests/app/test_on_start.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Fix embedder cache signature usage
  src/core_ext/retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix NaN check in collect metrics test
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Ensure semantic retention fallback is finite
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Whitelist thinking models for reasoning parallel flag
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Respect session defaults when initializing chat
  src/app.py
  tests/app/test_on_start.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Filter out-of-range metrics before using log fallback
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Ensure thinking parallel whitelist
  src/app.py
  tests/app/test_get_provider.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Handle NaN fallback for semantic retention
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Fix ruff unused import in collect metrics test
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Handle null semantic retention in Chainlit logs
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Remove unused semantic retention fallback import
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

CODEOWNERS:

# CODEOWNERS は主要ディレクトリごとにリポジトリオーナー（個人 + AI）を必ず含め、専門チームを補助 reviewer として指定します。
# - 個人オーナー: @RNA4219
# - AI オーナー:   @katamari-bot
# - 連携ルール: 最終承認は人間オーナーが行い、AI オーナーは差分検証ログを残します。
# 詳細は CONTRIBUTING.md と CODE_OF_CONDUCT.md を参照してください。

# 既定の担当者
* @RNA4219 @katamari-bot

# ルート配下の共通資産
/README.md @RNA4219 @katamari-bot @katamari-org/docs
/CHANGELOG.md @RNA4219 @katamari-bot @katamari-org/docs
/LICENSE @RNA4219 @katamari-bot @katamari-org/legal
/NOTICE @RNA4219 @katamari-bot @katamari-org/legal
/Dockerfile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile.* @RNA4219 @katamari-bot @katamari-org/devops
/RUNBOOK.md @RNA4219 @katamari-bot @katamari-org/devops
/CHECKLISTS.md @RNA4219 @katamari-bot @katamari-org/devops
/TASK.*.md @RNA4219 @katamari-bot @katamari-org/docs

# アプリケーション実装
/src/ @RNA4219 @katamari-bot @katamari-org/runtime
/personas/ @RNA4219 @katamari-bot @katamari-org/runtime
/themes/ @RNA4219 @katamari-bot @katamari-org/design
/public/ @RNA4219 @katamari-bot @katamari-org/frontend
/upstream/ @RNA4219 @katamari-bot @katamari-org/runtime
/config/ @RNA4219 @katamari-bot @katamari-org/runtime
/scripts/ @RNA4219 @katamari-bot @katamari-org/devops

# テストと品質保証
/tests/ @RNA4219 @katamari-bot @katamari-org/qa
/third_party/ @RNA4219 @katamari-bot @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @RNA4219 @katamari-bot @katamari-org/docs
/docs/adr/ @RNA4219 @katamari-bot @katamari-org/architecture
/BLUEPRINT.md @RNA4219 @katamari-bot @katamari-org/docs

# 運用・自動化ツール
/.github/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/workflows/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/ISSUE_TEMPLATE/ @RNA4219 @katamari-bot @katamari-org/docs
/.github/PULL_REQUEST_TEMPLATE.md @RNA4219 @katamari-bot @katamari-org/docs

# 設定・データ資産
/third_party/licenses/ @RNA4219 @katamari-bot @katamari-org/legal
