Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/legal, @katamari-org/devops, @katamari-org/runtime, @katamari-org/design, @katamari-org/frontend, @katamari-org/qa, @katamari-org/architecture

Handle missing semantic retention metric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Update README with name origin explanation
  README.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Handle persona reset on empty input
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add reasoning defaults for thinking models and cover forwarding
  src/app.py
  tests/app/test_get_provider.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add min turn preservation for context trimming
  src/app.py
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
  tests/core_ext/test_context_trimmer.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Compute semantic retention asynchronously
  src/app.py
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

feat: flag forbidden persona terms
  config/persona_forbidden_patterns.json
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add full Python and Node CI gates
  .github/workflows/ci.yml
  Makefile
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

feat(ci): cache dependencies and log metrics
  .github/workflows/ci.yml
  RUNBOOK.md
  scripts/cache/hash_lockfiles.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

Add recorded OpenAI stream fixtures for CI tests
  tests/providers/fixtures/openai_chat_reflect_stream.json
  tests/providers/test_openai_provider_stream.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Fix provider job secret condition
  .github/workflows/ci.yml
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

fix: fallback when uv binary is unavailable
  upstream/chainlit/cypress/support/run.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Add mypy configuration
  mypy.ini
Owners: @RNA4219, @katamari-bot

Ensure cypress fallback installs backend deps
  upstream/chainlit/cypress/support/run.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

fix: resolve ruff lint issues
  scripts/switch_theme.py
  src/core_ext/evolve.py
  src/core_ext/persona_compiler.py
  src/core_ext/prethought.py
  src/providers/openai_client.py
  upstream/chainlit/backend/chainlit/langchain/callbacks.py
  upstream/chainlit/backend/tests/data/storage_clients/test_gcs.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/runtime

Add Chainlit React client type declarations
  upstream/chainlit/.gitignore
  upstream/chainlit/libs/react-client/dist/index.d.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Ensure CI runs on pull requests
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

Improve backend lint fallback
  upstream/chainlit/backend/scripts/lint_python.sh
  upstream/chainlit/package.json
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

ci: skip stale main push runs
  .github/workflows/ci.yml
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

Pass min_turns to context trimmer
  src/app.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix trim_messages min_turns forwarding
  src/app.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Pass min_turns to context trimmer
  src/app.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Add module entry point for chainlit CLI
  upstream/chainlit/backend/chainlit/cli/__main__.py
  upstream/chainlit/backend/tests/test_cli_entrypoint.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix trim_messages monkeypatch signature
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Ensure persona updates refresh history system prompt
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix UP022 lint in CLI entrypoint test
  upstream/chainlit/backend/tests/test_cli_entrypoint.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

chore: ignore optional deps for mypy
  upstream/chainlit/backend/pyproject.toml
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Relax mypy missing import handling for optional deps
  mypy.ini
Owners: @RNA4219, @katamari-bot

Provide pandas stub for dataframe e2e sample
  upstream/chainlit/cypress/e2e/dataframe/main.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Ensure persona updates seed history with system prompt
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure min_turns forwarded to trim_messages
  src/app.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Align persona compiler fallback with default prompt
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Handle missing semantic retention metrics
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Handle missing llama_index for callback sample
  tests/app/test_chainlit_llama_index_stub.py
  upstream/chainlit/cypress/e2e/llama_index_cb/main.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa, @katamari-org/runtime

Add pandas fallback for chainlit dataframe test
  upstream/chainlit/cypress/e2e/dataframe/main.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Add plotly dependency for chainlit plot tests
  requirements.txt
Owners: @RNA4219, @katamari-bot

Ensure semantic retention metrics retain unset state
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure persona compiler reuses app default prompt
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

fix: ensure plotly extra for cypress
  upstream/chainlit/cypress/support/run.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Add fallback for Google API key in Gemini provider
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

CODEOWNERS:

# CODEOWNERS は主要ディレクトリごとにリポジトリオーナー（個人 + AI）を必ず含め、専門チームを補助 reviewer として指定します。
# - 個人オーナー: @RNA4219
# - AI オーナー:   @katamari-bot
# - 連携ルール: 最終承認は人間オーナーが行い、AI オーナーは差分検証ログを残します。
# 詳細は CONTRIBUTING.md と CODE_OF_CONDUCT.md を参照してください。

# 既定の担当者
* @RNA4219 @katamari-bot

# ルート配下の共通資産
/README.md @RNA4219 @katamari-bot @katamari-org/docs
/CHANGELOG.md @RNA4219 @katamari-bot @katamari-org/docs
/LICENSE @RNA4219 @katamari-bot @katamari-org/legal
/NOTICE @RNA4219 @katamari-bot @katamari-org/legal
/Dockerfile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile.* @RNA4219 @katamari-bot @katamari-org/devops
/RUNBOOK.md @RNA4219 @katamari-bot @katamari-org/devops
/CHECKLISTS.md @RNA4219 @katamari-bot @katamari-org/devops
/TASK.*.md @RNA4219 @katamari-bot @katamari-org/docs

# アプリケーション実装
/src/ @RNA4219 @katamari-bot @katamari-org/runtime
/personas/ @RNA4219 @katamari-bot @katamari-org/runtime
/themes/ @RNA4219 @katamari-bot @katamari-org/design
/public/ @RNA4219 @katamari-bot @katamari-org/frontend
/upstream/ @RNA4219 @katamari-bot @katamari-org/runtime
/config/ @RNA4219 @katamari-bot @katamari-org/runtime
/scripts/ @RNA4219 @katamari-bot @katamari-org/devops

# テストと品質保証
/tests/ @RNA4219 @katamari-bot @katamari-org/qa
/third_party/ @RNA4219 @katamari-bot @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @RNA4219 @katamari-bot @katamari-org/docs
/docs/adr/ @RNA4219 @katamari-bot @katamari-org/architecture
/BLUEPRINT.md @RNA4219 @katamari-bot @katamari-org/docs

# 運用・自動化ツール
/.github/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/workflows/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/ISSUE_TEMPLATE/ @RNA4219 @katamari-bot @katamari-org/docs
/.github/PULL_REQUEST_TEMPLATE.md @RNA4219 @katamari-bot @katamari-org/docs

# 設定・データ資産
/third_party/licenses/ @RNA4219 @katamari-bot @katamari-org/legal
