Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime-team, @alice-architect, @katamari-org/providers-team, @integrations-lead, @katamari-org/backend, @product-tech-lead, @katamari-org/docs-team, @katamari-org/architecture-council, @katamari-org/ux-research, @katamari-org/content, @katamari-org/frontend, @design-lead, @frontend-captain, @katamari-org/qa, @katamari-org/tooling, @katamari-org/platform, @data-science-lead, @katamari-org/legal, @legal-counsel

Propagate invalid Chainlit metrics as NaN
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling

Fix Prometheus metric parsing with labels
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Ensure Chainlit metrics require latest compress ratio
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Adjust semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Fix missing constant import in metrics test
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa

Fix semantic retention fallback equality
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling

Fix semantic retention fallback when missing in chainlit log
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Ensure semantic retention fallback is finite
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Handle NaN semantic retention
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Handle semantic retention nan as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Refine Chainlit metric parsing
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling

Remove unused variable in metrics parser
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling

Fix Chainlit metric parsing for missing keys
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Fix Chainlit metric parsing for missing semantic retention
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Adjust semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Normalize semantic retention NaN handling
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Handle null semantic retention in metrics collector
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Initialize missing and null key trackers
  scripts/perf/collect_metrics.py
  src/app.py
  tests/app/test_logging.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/backend, @katamari-org/qa

Initialize missing and null key trackers
  scripts/perf/collect_metrics.py
  src/app.py
  tests/app/test_logging.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/backend, @katamari-org/qa

Adjust semantic retention fallback expectations
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Fix Chainlit log parsing fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Fix semantic retention fallback
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling

Add regression coverage for Chainlit metrics parsing
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

fix: set semantic retention fallback to none
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling

Fix Chainlit log parsing and add regression test
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Adjust semantic retention fallback expectations
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa

Ensure semantic retention fallback is finite
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Add regression test for Chainlit-only metrics CLI
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Mark semantic retention fallback as final
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Ensure missing semantic retention falls back to default
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Handle non-string retention content
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/backend, @katamari-org/qa

Fix metric selection when log reports null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Ensure semantic retention fallback is numeric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Allow negative semantic retention metrics
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Adjust semantic retention fallback to None
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

chore: remove unused typing import
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling

Fix collect_metrics error handling test and import
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Fix missing compress ratio CLI test
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa

CODEOWNERS:

# Default reviewers
* @katamari-org/maintainers

# Core runtime extensions
/src/core_ext/ @katamari-org/runtime-team @alice-architect

# Provider integrations
/src/providers/ @katamari-org/providers-team @integrations-lead

# Application services
/src/app.py @katamari-org/backend @alice-architect
/src/services/ @katamari-org/backend @product-tech-lead
/src/ @katamari-org/backend

# Documentation and knowledge base
/README.md @katamari-org/docs-team
/docs/adr/ @katamari-org/architecture-council
/docs/ @katamari-org/docs-team

# Personas and themes
/personas/ @katamari-org/ux-research
/themes/ @katamari-org/content

# Public assets and frontend glue
/public/ @katamari-org/frontend @design-lead
/upstream/chainlit/ @katamari-org/frontend @frontend-captain

# Python and shared tests
/tests/ @katamari-org/qa
/pytest.ini @katamari-org/qa

# Tooling and automation scripts
/scripts/ @katamari-org/tooling
/Makefile @katamari-org/tooling

# Deployment manifests and infrastructure
/config/ @katamari-org/platform
/Dockerfile @katamari-org/platform

# Dependency manifests
/requirements.txt @katamari-org/tooling
/requirements-eval.txt @katamari-org/tooling @data-science-lead

# Third-partyとライセンスミラー
/third_party/ @katamari-org/legal

# トップレベルガバナンス
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CONTRIBUTING.md @katamari-org/maintainers
/CHECKLISTS.md @katamari-org/qa
