Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/design, @katamari-org/frontend, @katamari-org/qa, @katamari-org/docs, @katamari-org/devops

CODEOWNERS:

# CODEOWNERS は主要ディレクトリごとにリポジトリオーナー（個人 + AI）を必ず含め、専門チームを補助 reviewer として指定します。
# - 個人オーナー: @RNA4219
# - AI オーナー:   @katamari-bot
# 詳細は CONTRIBUTING.md と CODE_OF_CONDUCT.md を参照してください。

# 既定の担当者
* @RNA4219 @katamari-bot

# アプリケーション実装
/src/ @RNA4219 @katamari-bot @katamari-org/runtime
/personas/ @RNA4219 @katamari-bot @katamari-org/runtime
/themes/ @RNA4219 @katamari-bot @katamari-org/design
/public/ @RNA4219 @katamari-bot @katamari-org/frontend
/upstream/ @RNA4219 @katamari-bot @katamari-org/runtime

# テストと品質保証
/tests/ @RNA4219 @katamari-bot @katamari-org/qa
/third_party/ @RNA4219 @katamari-bot @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @RNA4219 @katamari-bot @katamari-org/docs
/README.md @RNA4219 @katamari-bot @katamari-org/docs
/CHANGELOG.md @RNA4219 @katamari-bot @katamari-org/docs

# 運用・自動化ツール
/scripts/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/ @RNA4219 @katamari-bot @katamari-org/devops
/Dockerfile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile @RNA4219 @katamari-bot @katamari-org/devops

# 設定・データ資産
/config/ @RNA4219 @katamari-bot @katamari-org/runtime
/RUNBOOK.md @RNA4219 @katamari-bot @katamari-org/devops
/CHECKLISTS.md @RNA4219 @katamari-bot @katamari-org/devops
/TASK.*.md @RNA4219 @katamari-bot @katamari-org/docs

Improve websocket token retrieval
  tests/app/test_socket_auth.py
  upstream/chainlit/backend/chainlit/socket.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa, @katamari-org/runtime

Improve websocket token retrieval
  tests/app/test_socket_auth.py
  upstream/chainlit/backend/chainlit/socket.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa, @katamari-org/runtime

Refine element creation feedback
  upstream/chainlit/backend/chainlit/element.py
  upstream/chainlit/backend/tests/test_element.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Ensure Prometheus parser enforces uppercase NaN
  scripts/perf/collect_metrics.py
  tests/app/test_metrics_healthz.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Handle blank semantic retention API keys
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Normalize semantic retention model defaults
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure Prometheus metrics emit canonical NaN
  src/app.py
  tests/app/test_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

fix: remove unsupported text fill property
  upstream/chainlit/frontend/src/index.css
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

fix: resolve background shorthand lint violation
  upstream/chainlit/libs/copilot/src/index.css
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

fix: prevent conditional hook usage in ChatProfiles
  upstream/chainlit/frontend/src/components/header/ChatProfiles.tsx
  upstream/chainlit/frontend/tests/chat-profiles.spec.tsx
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix AskFileButton hook usage
  upstream/chainlit/frontend/src/components/chat/Messages/Message/AskFileButton.tsx
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Ensure Google Gemini provider requires API key
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

docs: document GOOGLE_API_KEY fallback
  README.md
  config/env.example
Owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/runtime

test: ensure socket loader restores environment
  tests/app/test_socket_auth.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Refine socket auth loader cleanup
  tests/app/test_socket_auth.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Fix Prometheus parser to handle spaced label values
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Guard bearer parsing against whitespace
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure socket loader resets module stubs in tests
  tests/app/test_socket_auth.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Ensure socket loader restores environment
  pytest.ini
  tests/app/test_socket_auth.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Refine socket loader environment restoration
  tests/app/test_socket_auth.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Add failure cleanup test for socket loader
  tests/app/test_socket_auth.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Fix Prometheus parser for label values with spaces
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Reject bearer tokens containing whitespace
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add audio emitter stub hooks for socket auth tests
  tests/app/test_socket_auth.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Add stub websocket session registry
  tests/app/test_socket_auth.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Validate bearer token characters
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Handle Prometheus timestamps in metric parser
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Validate bearer tokens with token68 fullmatch
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure Gemini provider selection is case-insensitive
  src/app.py
  tests/app/test_get_provider.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add websocket session stub coverage
  tests/app/test_socket_auth.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Add emitter recording for socket audio start
  tests/app/test_socket_auth.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Add priority role retention to context trimmer
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add prompt evolution metrics orchestration
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add SSE reconnection retries for chat session
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Add retryable streaming support for OpenAI provider
  src/providers/openai_client.py
  tests/app/test_logging.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Replace pickle persistence with JSON
  upstream/chainlit/cypress/e2e/data_layer/main.py
  upstream/chainlit/cypress/e2e/data_layer/spec.cy.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Add SRI to KaTeX CDN stylesheet
  upstream/chainlit/frontend/index.html
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix percent sanitization in hslToHex
  upstream/chainlit/frontend/src/lib/utils.test.ts
  upstream/chainlit/frontend/src/lib/utils.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Restrict dynamic imports in chainlit utils
  tests/app/test_chainlit_utils.py
  upstream/chainlit/backend/chainlit/utils.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa, @katamari-org/runtime

fix: restrict window message target origin
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime
