Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/design, @katamari-org/frontend, @katamari-org/qa, @katamari-org/docs, @katamari-org/devops

CODEOWNERS:

# CODEOWNERS は主要ディレクトリごとにリポジトリオーナー（個人 + AI）を必ず含め、専門チームを補助 reviewer として指定します。
# - 個人オーナー: @RNA4219
# - AI オーナー:   @katamari-bot
# 詳細は CONTRIBUTING.md と CODE_OF_CONDUCT.md を参照してください。

# 既定の担当者
* @RNA4219 @katamari-bot

# アプリケーション実装
/src/ @RNA4219 @katamari-bot @katamari-org/runtime
/personas/ @RNA4219 @katamari-bot @katamari-org/runtime
/themes/ @RNA4219 @katamari-bot @katamari-org/design
/public/ @RNA4219 @katamari-bot @katamari-org/frontend
/upstream/ @RNA4219 @katamari-bot @katamari-org/runtime

# テストと品質保証
/tests/ @RNA4219 @katamari-bot @katamari-org/qa
/third_party/ @RNA4219 @katamari-bot @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @RNA4219 @katamari-bot @katamari-org/docs
/README.md @RNA4219 @katamari-bot @katamari-org/docs
/CHANGELOG.md @RNA4219 @katamari-bot @katamari-org/docs

# 運用・自動化ツール
/scripts/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/ @RNA4219 @katamari-bot @katamari-org/devops
/Dockerfile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile @RNA4219 @katamari-bot @katamari-org/devops

# 設定・データ資産
/config/ @RNA4219 @katamari-bot @katamari-org/runtime
/RUNBOOK.md @RNA4219 @katamari-bot @katamari-org/devops
/CHECKLISTS.md @RNA4219 @katamari-bot @katamari-org/devops
/TASK.*.md @RNA4219 @katamari-bot @katamari-org/docs

Fix trim message recording duplication
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Test Birdseye refresh helper respects sys.executable
  tests/scripts/test_birdseye_refresh.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Skip intent analysis when debug output disabled
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Handle case insensitive bearer headers
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

test: ensure trim debug messages suppressed when hidden
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

test: tighten trim debug absence assertion
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Guard prethought analysis behind debug flag
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Handle bearer auth headers with flexible casing
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

docs: show_debug 時の trim 表示条件を追記
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

docs: clarify bearer auth requirements for service endpoints
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Ensure request logging survives trim failures
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

docs: clarify m1 bearer auth requirement
  docs/addenda/G_Security_Privacy.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Update security test documentation
  docs/addenda/G_Security_Privacy.md
  docs/addenda/I_Test_Cases.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Add failure logging safeguard for provider init errors
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

docs: reflect header auth completion in adr-0004
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

docs: update security acceptance notes for bearer auth
  docs/Katamari_Technical_Spec_v1_ja.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Persist persona YAML in session settings
  src/app.py
  tests/app/test_on_start.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add persistence test for persona yaml
  src/app.py
  tests/app/test_on_start.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Update deploy guide auth note
  docs/addenda/H_Deploy_Guide.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Update operations documentation for auth-protected endpoints
  README.md
  docs/addenda/H_Deploy_Guide.md
  docs/adr/0005-m1-5-oauth-and-token-governance.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Respect saved session values during on_start
  src/app.py
  tests/app/test_on_start.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure on_start reuses saved settings
  src/app.py
  tests/app/test_on_start.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

docs: clarify ops endpoint auth requirement
  README.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

docs: update deploy guide bearer auth note
  docs/addenda/H_Deploy_Guide.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Update M1 retention and healthz tasks
  docs/katamari_wbs.csv
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Normalize invalid semantic retention metrics
  src/app.py
  tests/app/test_semantic_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add skip guard for make-dependent test
  tests/scripts/test_makefile_targets.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Add bash availability guard for sync subtree tests
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Add skip guard and test for missing make command
  tests/scripts/test_makefile_targets.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Update M1 retention deliverables in WBS
  docs/katamari_wbs.csv
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Handle non numeric semantic retention metrics
  src/app.py
  tests/app/test_semantic_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

test: skip sync_chainlit subtree when bash missing
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Ensure persona YAML input supports multiline entry
  src/app.py
  tests/app/test_on_start.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Update RUNBOOK env setup reference
  RUNBOOK.md
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

Ensure context trimmer keeps latest turn over budget
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Handle missing openai dependency lazily
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Restore AsyncOpenAI attribute for tests
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix AsyncOpenAI typing for mypy
  src/providers/openai_client.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Add lazy AsyncOpenAI import with missing dependency guard
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

docs: update runbook env setup instructions
  RUNBOOK.md
Owners: @RNA4219, @katamari-bot, @katamari-org/devops
