Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime-team, @alice-architect, @katamari-org/providers-team, @integrations-lead, @katamari-org/backend, @product-tech-lead, @katamari-org/docs-team, @katamari-org/architecture-council, @katamari-org/ux-research, @katamari-org/content, @katamari-org/frontend, @design-lead, @frontend-captain, @katamari-org/qa, @katamari-org/tooling, @katamari-org/platform, @data-science-lead, @katamari-org/legal, @legal-counsel

CODEOWNERS:

# Default reviewers
* @katamari-org/maintainers

# Core runtime extensions
/src/core_ext/ @katamari-org/runtime-team @alice-architect

# Provider integrations
/src/providers/ @katamari-org/providers-team @integrations-lead

# Application services
/src/app.py @katamari-org/backend @alice-architect
/src/services/ @katamari-org/backend @product-tech-lead
/src/ @katamari-org/backend

# Documentation and knowledge base
/README.md @katamari-org/docs-team
/docs/adr/ @katamari-org/architecture-council
/docs/ @katamari-org/docs-team

# Personas and themes
/personas/ @katamari-org/ux-research
/themes/ @katamari-org/content

# Public assets and frontend glue
/public/ @katamari-org/frontend @design-lead
/upstream/chainlit/ @katamari-org/frontend @frontend-captain

# Python and shared tests
/tests/ @katamari-org/qa
/pytest.ini @katamari-org/qa

# Tooling and automation scripts
/scripts/ @katamari-org/tooling
/Makefile @katamari-org/tooling

# Deployment manifests and infrastructure
/config/ @katamari-org/platform
/Dockerfile @katamari-org/platform

# Dependency manifests
/requirements.txt @katamari-org/tooling
/requirements-eval.txt @katamari-org/tooling @data-science-lead

# Third-partyとライセンスミラー
/third_party/ @katamari-org/legal

# トップレベルガバナンス
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CONTRIBUTING.md @katamari-org/maintainers
/CHECKLISTS.md @katamari-org/qa

Ensure persona YAML widget stays multiline
  src/app.py
  tests/app/test_on_start.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure context trimmer always preserves latest turn
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/backend, @katamari-org/qa

Add remote-aware subtree pull test and fix command
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/tooling, @katamari-org/qa

Fix show_debug coercion and add regression test
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

docs: add plotly to deploy guide dependencies
  docs/addenda/H_Deploy_Guide.md
Owners: @katamari-org/docs-team

Add lazy openai import guards and tests
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @katamari-org/qa

Fix AsyncOpenAI factory typing
  src/providers/openai_client.py
Owners: @katamari-org/backend

Ensure OpenAI provider surfaces ImportError when dependency missing
  src/providers/openai_client.py
Owners: @katamari-org/backend

docs: note plotly constraint in deploy guide
  docs/addenda/H_Deploy_Guide.md
Owners: @katamari-org/docs-team

Normalize show_debug settings handling
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Add remote-aware dry-run test for chainlit subtree sync
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/tooling, @katamari-org/qa

Refactor stub factory to satisfy ruff
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/qa

Add merge tab planning bridge and guard-aware view
  src/annotations/merge.js
  tests/annotations/test_merge_view.mjs
Owners: @katamari-org/backend, @katamari-org/qa

Fix OpenAI provider AsyncOpenAI resolution
  src/providers/openai_client.py
Owners: @katamari-org/backend

Ensure OpenAI provider prompts upgrading openai
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @katamari-org/qa

docs: require openai 1.30 in deploy guide
  docs/addenda/H_Deploy_Guide.md
Owners: @katamari-org/docs-team

Fix ruff violation in OpenAI provider stream test
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/qa

Ensure metrics export reports NaN for missing retention
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure subtree sync fetch overwrites existing tags
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/tooling, @katamari-org/qa

Fix AsyncOpenAI factory typing
  src/providers/openai_client.py
Owners: @katamari-org/backend

Fix AsyncOpenAI typing and expose factory
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @katamari-org/qa

Handle legacy openai imports in provider
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @katamari-org/qa

Align OpenAI upgrade guidance
  docs/addenda/H_Deploy_Guide.md
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/docs-team, @katamari-org/backend, @katamari-org/qa

Handle rerun of sync_chainlit_subtree tag fetch
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/tooling, @katamari-org/qa

Add tests for metrics NaN export and handle NaN formatting
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/backend, @katamari-org/qa

Handle missing AsyncOpenAI factories in OpenAI provider
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @katamari-org/qa

Deduplicate hash lockfile inputs
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @katamari-org/qa

Normalize lockfile digest paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @katamari-org/qa

Ensure legacy openai stubs raise helpful ImportError
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @katamari-org/qa

Handle duplicate lockfile paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @katamari-org/qa

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @katamari-org/qa

Fix ruff check failure in OpenAI client
  src/providers/openai_client.py
Owners: @katamari-org/backend

Ensure hash lockfile digest ignores duplicate paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @katamari-org/qa

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @katamari-org/qa

Add regression coverage for OpenAI stub factory
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @katamari-org/qa

Expose AsyncOpenAI alias for provider stubbing
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/backend, @katamari-org/qa

Remove unused mypy ignores in OpenAI client
  src/providers/openai_client.py
Owners: @katamari-org/backend

Fix Prometheus NaN casing for semantic retention
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/backend, @katamari-org/qa

Allow overriding OpenAI client factory
  src/providers/openai_client.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @katamari-org/qa

Add TypeGuard for AsyncOpenAI factory resolution
  src/providers/openai_client.py
Owners: @katamari-org/backend
