Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @katamari-org/legal, @legal-counsel, @frontend-captain, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @sre-duty-officer, @data-science-lead

Set semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix redundant key tracking in metric log parsing
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Ensure semantic retention fallback outputs numeric value
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Fix typing imports for collect_metrics
  scripts/perf/collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead

Adjust semantic retention fallback to None
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback to null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

test: ensure semantic retention fallback emits null
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Fix semantic retention fallback to emit null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Set semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Update semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

docs: clarify retention metric handling
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @katamari-org/docs-team, @devrel-lead

docs: refresh metrics status
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/D_Trim_Design.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @katamari-org/docs-team, @devrel-lead

Update semantic retention fallback assertions
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Handle missing semantic retention as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle null compress ratio when log lacks metric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle null compress ratio from chainlit log
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

docs: reflect measured semantic retention
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/D_Trim_Design.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
  docs/adr/0005-m1-5-oauth-and-token-governance.md
Owners: @katamari-org/docs-team, @devrel-lead

Remove unused import in collect metrics test
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Update collect_metrics test docstring to describe fallback migration
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

docs: semantic_retention の欠損処理と進捗を反映
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @katamari-org/docs-team, @devrel-lead

Update semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure semantic retention fallback serializes as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle null compress ratio metrics
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

docs: refresh semantic retention metrics description
  README.md
Owners: @katamari-org/maintainers, @product-tech-lead

docs: update collect_metrics test docstring
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Add test for HTTP compress ratio override
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Update collect_metrics test docstring for fallback behavior
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Add failing test for null compress ratio and enforce HTTP missing handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Adjust semantic retention fallback to null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

docs: clarify semantic retention metric outputs
  README.md
Owners: @katamari-org/maintainers, @product-tech-lead

Adjust semantic retention null expectations
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Handle missing semantic retention as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure semantic retention falls back to JSON null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

docs: clarify collect_metrics retention fallback
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

docs: update trim retention checklist status
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/docs-team, @devrel-lead

docs: align collect_metrics test comment with spec
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

docs: update min_turns description
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/docs-team, @devrel-lead

docs: Trim保持率チェックリストの現状適合を明記
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/docs-team, @devrel-lead

Handle semantic retention compute failures
  src/app.py
  tests/app/test_semantic_retention.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要ディレクトリ単位でレビュー責任者を明確化します。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# ガバナンス / ナレッジ
/docs/ @katamari-org/docs-team @devrel-lead
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead
/public/ @katamari-org/frontend @design-lead

# コアランタイム / バックエンド
/src/ @katamari-org/backend @runtime-duty-officer
/tests/ @katamari-org/qa @product-tech-lead
/third_party/ @katamari-org/legal @legal-counsel

# フロントエンド / ESM
/upstream/ @katamari-org/frontend @frontend-captain

# ツール / プラットフォーム
/scripts/ @katamari-org/tooling @devops-lead
/config/ @katamari-org/platform @sre-duty-officer
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / 依存関係
/Dockerfile @katamari-org/platform @sre-duty-officer
/Makefile @katamari-org/tooling @devops-lead
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead
