Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa, @katamari-org/docs, @katamari-org/frontend, @katamari-org/design, @katamari-org/integrations, @katamari-org/devops

Ensure persona YAML widget stays multiline
  src/app.py
  tests/app/test_on_start.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure context trimmer always preserves latest turn
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add remote-aware subtree pull test and fix command
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix show_debug coercion and add regression test
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

docs: add plotly to deploy guide dependencies
  docs/addenda/H_Deploy_Guide.md
Owners: @katamari-org/maintainers, @katamari-org/docs

Add lazy openai import guards and tests
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Fix AsyncOpenAI factory typing
  src/providers/openai_client.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Ensure OpenAI provider surfaces ImportError when dependency missing
  src/providers/openai_client.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

docs: note plotly constraint in deploy guide
  docs/addenda/H_Deploy_Guide.md
Owners: @katamari-org/maintainers, @katamari-org/docs

Normalize show_debug settings handling
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add remote-aware dry-run test for chainlit subtree sync
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Refactor stub factory to satisfy ruff
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Add merge tab planning bridge and guard-aware view
  src/annotations/merge.js
  tests/annotations/test_merge_view.mjs
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Fix OpenAI provider AsyncOpenAI resolution
  src/providers/openai_client.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Ensure OpenAI provider prompts upgrading openai
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

docs: require openai 1.30 in deploy guide
  docs/addenda/H_Deploy_Guide.md
Owners: @katamari-org/maintainers, @katamari-org/docs

Fix ruff violation in OpenAI provider stream test
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Ensure metrics export reports NaN for missing retention
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure subtree sync fetch overwrites existing tags
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix AsyncOpenAI factory typing
  src/providers/openai_client.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Fix AsyncOpenAI typing and expose factory
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Handle legacy openai imports in provider
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Align OpenAI upgrade guidance
  docs/addenda/H_Deploy_Guide.md
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/docs, @katamari-org/runtime, @katamari-org/qa

Handle rerun of sync_chainlit_subtree tag fetch
  scripts/sync_chainlit_subtree.sh
  tests/scripts/test_sync_chainlit_subtree.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Add tests for metrics NaN export and handle NaN formatting
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Handle missing AsyncOpenAI factories in OpenAI provider
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Deduplicate hash lockfile inputs
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Normalize lockfile digest paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Ensure legacy openai stubs raise helpful ImportError
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Handle duplicate lockfile paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Fix ruff check failure in OpenAI client
  src/providers/openai_client.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Ensure hash lockfile digest ignores duplicate paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Add regression coverage for OpenAI stub factory
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Expose AsyncOpenAI alias for provider stubbing
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Remove unused mypy ignores in OpenAI client
  src/providers/openai_client.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Fix Prometheus NaN casing for semantic retention
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Allow overriding OpenAI client factory
  src/providers/openai_client.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add TypeGuard for AsyncOpenAI factory resolution
  src/providers/openai_client.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

CODEOWNERS:

# CODEOWNERS は主要領域ごとにレビュー担当者を割り当てます。詳細は CONTRIBUTING.md を参照してください。

# 既定の担当者
* @katamari-org/maintainers

# アプリケーション実装
/src/ @katamari-org/maintainers @katamari-org/runtime
/config/ @katamari-org/maintainers @katamari-org/runtime

# テスト
/tests/ @katamari-org/maintainers @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @katamari-org/maintainers @katamari-org/docs
/public/ @katamari-org/maintainers @katamari-org/frontend
/themes/ @katamari-org/maintainers @katamari-org/design
/personas/ @katamari-org/maintainers @katamari-org/docs
/third_party/ @katamari-org/maintainers @katamari-org/integrations
/upstream/ @katamari-org/maintainers @katamari-org/integrations

# 運用・ビルド
/scripts/ @katamari-org/maintainers @katamari-org/devops
/Makefile @katamari-org/maintainers @katamari-org/devops
/Dockerfile @katamari-org/maintainers @katamari-org/devops
