Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/design, @katamari-org/frontend, @katamari-org/qa, @katamari-org/docs, @katamari-org/devops

CODEOWNERS:

# CODEOWNERS は主要ディレクトリごとにリポジトリオーナー（個人 + AI）を必ず含め、専門チームを補助 reviewer として指定します。
# - 個人オーナー: @RNA4219
# - AI オーナー:   @katamari-bot
# 詳細は CONTRIBUTING.md と CODE_OF_CONDUCT.md を参照してください。

# 既定の担当者
* @RNA4219 @katamari-bot

# アプリケーション実装
/src/ @RNA4219 @katamari-bot @katamari-org/runtime
/personas/ @RNA4219 @katamari-bot @katamari-org/runtime
/themes/ @RNA4219 @katamari-bot @katamari-org/design
/public/ @RNA4219 @katamari-bot @katamari-org/frontend
/upstream/ @RNA4219 @katamari-bot @katamari-org/runtime

# テストと品質保証
/tests/ @RNA4219 @katamari-bot @katamari-org/qa
/third_party/ @RNA4219 @katamari-bot @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @RNA4219 @katamari-bot @katamari-org/docs
/README.md @RNA4219 @katamari-bot @katamari-org/docs
/CHANGELOG.md @RNA4219 @katamari-bot @katamari-org/docs

# 運用・自動化ツール
/scripts/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/ @RNA4219 @katamari-bot @katamari-org/devops
/Dockerfile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile @RNA4219 @katamari-bot @katamari-org/devops

# 設定・データ資産
/config/ @RNA4219 @katamari-bot @katamari-org/runtime
/RUNBOOK.md @RNA4219 @katamari-bot @katamari-org/devops
/CHECKLISTS.md @RNA4219 @katamari-bot @katamari-org/devops
/TASK.*.md @RNA4219 @katamari-bot @katamari-org/docs

Add heuristic-based prethought intent extraction
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

docs: clarify min_turns trimming
  docs/addenda/D_Trim_Design.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

docs: update provider reasoning behavior
  docs/Katamari_Technical_Spec_v1_ja.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Ensure trim metrics message always emitted
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

test: cover socket reconnection options
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

test: ensure chat session uses exponential socket.io reconnection
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Improve prethought intent analysis
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Decouple trim notification from debug details
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add reconnection options constants and tests
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

feat: enhance prethought section parsing
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add tests for reasoning defaults
  docs/Katamari_Technical_Spec_v1_ja.md
  tests/app/test_prepare_provider_options.py
Owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/qa

Add trim message tests and helper
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add registry-driven parallel reasoning test
  docs/addenda/L_Config_Reference.md
  tests/app/test_prepare_provider_options.py
Owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/qa

Ensure trim metrics message ignores show_debug flag
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure trim message visible without debug toggle
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

test: cover chat session reconnection backoff
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

test: cover socket reconnection settings
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Improve prethought section parsing
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Add header auth for ops endpoints
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

test: cover reasoning registry
  docs/addenda/L_Config_Reference.md
  tests/app/test_prepare_provider_options.py
Owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/qa

Add reasoning effort coverage and update spec
  docs/Katamari_Technical_Spec_v1_ja.md
  tests/app/test_prepare_provider_options.py
Owners: @RNA4219, @katamari-bot, @katamari-org/docs, @katamari-org/qa

Fix trim logging tests to cover debug toggle behavior
  src/app.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure trim messaging debug flow and tighten prethought parsing
  src/app.py
  src/core_ext/prethought.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Run CI directly on pull_request
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

Allow manual CI runs with custom ref
  .github/workflows/ci.yml
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

test: tighten prethought intent coverage
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Ensure trim messages use common formatter
  src/app.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Ensure trim notifications run outside debug mode
  src/app.py
  src/core_ext/prethought.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix lint in useChatSession test
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

Fix analyze_intent freeform handling
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Fix trim logging test and expose intent sections helper
  src/core_ext/prethought.py
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

Use helper for intent sections in tests
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

test: assert trim message content via mock
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Align explicit section expectations with sample prompt
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

test: verify analyze_intent structured keywords
  tests/core_ext/test_prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Fix mypy issues in prethought intent helpers
  src/core_ext/prethought.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime

test: assert trim formatter arguments
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Ensure birdseye refresh tests use sys.executable
  tests/scripts/test_birdseye_refresh.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Add assertions for trim message formatting test
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

test: assert trim formatter call arguments
  tests/app/test_logging.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa
