Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @legal-counsel, @katamari-org/qa, @sre-duty-officer, @katamari-org/backend, @runtime-duty-officer, @alice-architect, @katamari-org/runtime-team, @katamari-org/providers-team, @integrations-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/architecture-council, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @frontend-captain, @platform-liaison, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @data-science-lead, @katamari-org/legal

Handle missing semantic retention metric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Update README with name origin explanation
  README.md
Owners: @katamari-org/docs-team, @devrel-lead

Handle persona reset on empty input
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Add reasoning defaults for thinking models and cover forwarding
  src/app.py
  tests/app/test_get_provider.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Add min turn preservation for context trimming
  src/app.py
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/runtime-team, @katamari-org/qa, @product-tech-lead

Compute semantic retention asynchronously
  src/app.py
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/runtime-team, @katamari-org/qa, @product-tech-lead

feat: flag forbidden persona terms
  config/persona_forbidden_patterns.json
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/platform, @sre-duty-officer, @katamari-org/runtime-team, @alice-architect, @katamari-org/qa, @product-tech-lead

Add full Python and Node CI gates
  .github/workflows/ci.yml
  Makefile
Owners: @katamari-org/tooling, @devrel-lead, @devops-lead

feat(ci): cache dependencies and log metrics
  .github/workflows/ci.yml
  RUNBOOK.md
  scripts/cache/hash_lockfiles.py
Owners: @katamari-org/tooling, @devrel-lead, @katamari-org/maintainers, @sre-duty-officer, @devops-lead

Add recorded OpenAI stream fixtures for CI tests
  tests/providers/fixtures/openai_chat_reflect_stream.json
  tests/providers/test_openai_provider_stream.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Fix provider job secret condition
  .github/workflows/ci.yml
Owners: @katamari-org/tooling, @devrel-lead

fix: fallback when uv binary is unavailable
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/frontend, @platform-liaison

Add mypy configuration
  mypy.ini
Owners: @katamari-org/maintainers, @product-tech-lead

Ensure cypress fallback installs backend deps
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/frontend, @platform-liaison

fix: resolve ruff lint issues
  scripts/switch_theme.py
  src/core_ext/evolve.py
  src/core_ext/persona_compiler.py
  src/core_ext/prethought.py
  src/providers/openai_client.py
  upstream/chainlit/backend/chainlit/langchain/callbacks.py
  upstream/chainlit/backend/tests/data/storage_clients/test_gcs.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/runtime-team, @alice-architect, @katamari-org/providers-team, @integrations-lead, @katamari-org/frontend, @platform-liaison

Add Chainlit React client type declarations
  upstream/chainlit/.gitignore
  upstream/chainlit/libs/react-client/dist/index.d.ts
Owners: @katamari-org/frontend, @platform-liaison

Ensure CI runs on pull requests
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Owners: @katamari-org/tooling, @devrel-lead

Improve backend lint fallback
  upstream/chainlit/backend/scripts/lint_python.sh
  upstream/chainlit/package.json
Owners: @katamari-org/frontend, @platform-liaison

ci: skip stale main push runs
  .github/workflows/ci.yml
Owners: @katamari-org/tooling, @devrel-lead

Pass min_turns to context trimmer
  src/app.py
Owners: @katamari-org/backend, @alice-architect

Fix trim_messages min_turns forwarding
  src/app.py
Owners: @katamari-org/backend, @alice-architect

Pass min_turns to context trimmer
  src/app.py
Owners: @katamari-org/backend, @alice-architect

Add module entry point for chainlit CLI
  upstream/chainlit/backend/chainlit/cli/__main__.py
  upstream/chainlit/backend/tests/test_cli_entrypoint.py
Owners: @katamari-org/frontend, @platform-liaison

Fix trim_messages monkeypatch signature
  tests/app/test_logging.py
Owners: @katamari-org/qa, @product-tech-lead

Ensure persona updates refresh history system prompt
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Fix UP022 lint in CLI entrypoint test
  upstream/chainlit/backend/tests/test_cli_entrypoint.py
Owners: @katamari-org/frontend, @platform-liaison

chore: ignore optional deps for mypy
  upstream/chainlit/backend/pyproject.toml
Owners: @katamari-org/frontend, @platform-liaison

Relax mypy missing import handling for optional deps
  mypy.ini
Owners: @katamari-org/maintainers, @product-tech-lead

Provide pandas stub for dataframe e2e sample
  upstream/chainlit/cypress/e2e/dataframe/main.py
Owners: @katamari-org/frontend, @platform-liaison

Ensure persona updates seed history with system prompt
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Ensure min_turns forwarded to trim_messages
  src/app.py
Owners: @katamari-org/backend, @alice-architect

Align persona compiler fallback with default prompt
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/runtime-team, @alice-architect, @katamari-org/qa, @product-tech-lead

Handle missing semantic retention metrics
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Handle missing llama_index for callback sample
  tests/app/test_chainlit_llama_index_stub.py
  upstream/chainlit/cypress/e2e/llama_index_cb/main.py
Owners: @katamari-org/qa, @product-tech-lead, @katamari-org/frontend, @platform-liaison

Add pandas fallback for chainlit dataframe test
  upstream/chainlit/cypress/e2e/dataframe/main.py
Owners: @katamari-org/frontend, @platform-liaison

Add plotly dependency for chainlit plot tests
  requirements.txt
Owners: @katamari-org/tooling, @product-tech-lead

Ensure semantic retention metrics retain unset state
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Ensure persona compiler reuses app default prompt
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/runtime-team, @alice-architect, @katamari-org/qa, @product-tech-lead

fix: ensure plotly extra for cypress
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/frontend, @platform-liaison

Add fallback for Google API key in Gemini provider
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @katamari-org/providers-team, @integrations-lead, @katamari-org/qa, @product-tech-lead

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要オーナーが一次レビュー責任者、副担当が代理承認とレビューサポートを担います。
# レビュー責務:
# - 主要オーナーは 1 営業日以内にレビュー可否を返信し、3 営業日以内に必須指摘を完了させます。
# - 副担当は主要オーナー不在時に代理し、合意形成とマージ判断をサポートします。
# - 重大インシデントや期限付き対応は `@katamari-org/maintainers` へ即時エスカレーションします。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# コミュニティポリシー / ガバナンス
/CONTRIBUTING.md @katamari-org/maintainers @product-tech-lead
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CHECKLISTS.md @katamari-org/qa @product-tech-lead
/RUNBOOK.md @katamari-org/maintainers @sre-duty-officer
/CHANGELOG.md @katamari-org/maintainers @product-tech-lead

# コアランタイム / バックエンド
/src/ @katamari-org/backend @runtime-duty-officer
/src/app.py @katamari-org/backend @alice-architect
/src/core_ext/ @katamari-org/runtime-team @alice-architect
/src/providers/ @katamari-org/providers-team @integrations-lead

# テスト / 品質保証
/tests/ @katamari-org/qa @product-tech-lead
/tests/fixtures/ @katamari-org/qa @runtime-duty-officer
/pytest.ini @katamari-org/qa @product-tech-lead

# ドキュメント / ナレッジ
/README.md @katamari-org/docs-team @devrel-lead
/docs/ @katamari-org/docs-team @devrel-lead
/docs/adr/ @katamari-org/architecture-council @alice-architect
/docs/openapi/ @katamari-org/architecture-council @product-tech-lead
/docs/addenda/ @katamari-org/docs-team @devrel-lead
/docs/birdseye/ @katamari-org/docs-team @product-tech-lead

# ペルソナ / ブランディング
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead
/public/ @katamari-org/frontend @design-lead

# フロントエンド / UI
/upstream/chainlit/ @katamari-org/frontend @frontend-captain
/upstream/ @katamari-org/frontend @platform-liaison

# ツール / 自動化
/scripts/ @katamari-org/tooling @devops-lead
/Makefile @katamari-org/tooling @devops-lead
/config/ci/ @katamari-org/tooling @devops-lead
/config/ @katamari-org/platform @sre-duty-officer
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / 依存関係
/Dockerfile @katamari-org/platform @sre-duty-officer
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead

# サードパーティ / ライセンス
/third_party/ @katamari-org/legal @legal-counsel
