Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa, @katamari-org/docs, @katamari-org/frontend, @katamari-org/design, @katamari-org/integrations, @katamari-org/devops

Normalize lockfile digest paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Handle home directory expansion in lockfile hashing
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Refresh OpenAI factory cache when alias changes
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure AsyncOpenAI alias is always available
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add home path deduplication test for hash lockfiles
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Handle blank Gemini API keys
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Handle blank OpenAI API key values
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Fix mypy issues in OpenAI client
  src/providers/openai_client.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

fix: harden openai client resolution
  src/providers/openai_client.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Refine lockfile normalization
  scripts/cache/hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Normalize lockfile hashing by repository-relative paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Raise error for missing lockfile paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Ensure missing lockfiles surface ENOENT
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Normalize lockfile hashing to repo-relative paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/qa

Validate OPENAI_API_KEY before creating client
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Fix AsyncOpenAI fallback handling
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Fix OpenAI provider cache refresh and lockfile normalization
  scripts/cache/hash_lockfiles.py
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/maintainers, @katamari-org/devops, @katamari-org/runtime, @katamari-org/qa

Refine async OpenAI factory detection
  src/providers/openai_client.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

Normalize default choice resolution
  src/app.py
  tests/app/test_on_start.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Normalize whitespace-only retention embedder keys
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Adjust metrics tests to expect uppercase NaN
  tests/app/test_metrics_healthz.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Ensure Prometheus metrics export emits NaN
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

chore: run container as non root
  Dockerfile
Owners: @katamari-org/maintainers, @katamari-org/devops

Fix invalid text fill property in copilot styles
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/maintainers, @katamari-org/integrations

Refine element creation feedback
  upstream/chainlit/backend/chainlit/element.py
  upstream/chainlit/backend/tests/test_element.py
Owners: @katamari-org/maintainers, @katamari-org/integrations

Refactor feedback handling in ReadOnlyThread
  upstream/chainlit/frontend/src/components/ReadOnlyThread.tsx
Owners: @katamari-org/maintainers, @katamari-org/integrations

Enforce secure SSL defaults for SQLAlchemy data layer
  upstream/chainlit/backend/chainlit/data/sql_alchemy.py
  upstream/chainlit/backend/tests/data/test_sql_alchemy.py
Owners: @katamari-org/maintainers, @katamari-org/integrations

Add comment for update_step stub
  upstream/chainlit/cypress/e2e/data_layer/main.py
Owners: @katamari-org/maintainers, @katamari-org/integrations

Refactor chat upload callbacks
  upstream/chainlit/frontend/src/components/chat/index.tsx
Owners: @katamari-org/maintainers, @katamari-org/integrations

Add comment for missing step persistence
  upstream/chainlit/cypress/e2e/thread_resume/main.py
Owners: @katamari-org/maintainers, @katamari-org/integrations

fix: restrict window message target origin
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/maintainers, @katamari-org/integrations

Fix loading shimmer background declarations
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/maintainers, @katamari-org/integrations

Fix background property ordering for loading shimmer
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/maintainers, @katamari-org/integrations

Enable SSL hostname verification
  upstream/chainlit/backend/chainlit/data/sql_alchemy.py
  upstream/chainlit/backend/tests/data/test_sql_alchemy.py
Owners: @katamari-org/maintainers, @katamari-org/integrations

fix: reorder loading shimmer background declaration
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/maintainers, @katamari-org/integrations

Fix dataframe hook usage
  upstream/chainlit/frontend/src/components/Elements/Dataframe.tsx
  upstream/chainlit/frontend/tests/dataframe.spec.tsx
  upstream/chainlit/frontend/tests/stubs/chainlit-react-client.ts
  upstream/chainlit/frontend/vitest.config.ts
Owners: @katamari-org/maintainers, @katamari-org/integrations

Fix loading shimmer background-position order
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/maintainers, @katamari-org/integrations

Fix step decorator call
  upstream/chainlit/backend/chainlit/step.py
Owners: @katamari-org/maintainers, @katamari-org/integrations

Fix invalid text-fill-color declaration
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/maintainers, @katamari-org/integrations

CODEOWNERS:

# CODEOWNERS は主要領域ごとにレビュー担当者を割り当てます。詳細は CONTRIBUTING.md を参照してください。

# 既定の担当者
* @katamari-org/maintainers

# アプリケーション実装
/src/ @katamari-org/maintainers @katamari-org/runtime
/config/ @katamari-org/maintainers @katamari-org/runtime

# テスト
/tests/ @katamari-org/maintainers @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @katamari-org/maintainers @katamari-org/docs
/public/ @katamari-org/maintainers @katamari-org/frontend
/themes/ @katamari-org/maintainers @katamari-org/design
/personas/ @katamari-org/maintainers @katamari-org/docs
/third_party/ @katamari-org/maintainers @katamari-org/integrations
/upstream/ @katamari-org/maintainers @katamari-org/integrations

# 運用・ビルド
/scripts/ @katamari-org/maintainers @katamari-org/devops
/Makefile @katamari-org/maintainers @katamari-org/devops
/Dockerfile @katamari-org/maintainers @katamari-org/devops
