Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/integrations, @katamari-org/qa, @katamari-org/docs, @katamari-org/frontend, @katamari-org/design, @katamari-org/devops

Add heuristic-based prethought intent extraction
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

docs: clarify min_turns trimming
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/maintainers, @katamari-org/docs

docs: update provider reasoning behavior
  docs/Katamari_Technical_Spec_v1_ja.md
Owners: @katamari-org/maintainers, @katamari-org/docs

Ensure trim metrics message always emitted
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

test: cover socket reconnection options
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/maintainers

test: ensure chat session uses exponential socket.io reconnection
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/maintainers

Improve prethought intent analysis
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Decouple trim notification from debug details
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add reconnection options constants and tests
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/maintainers

feat: enhance prethought section parsing
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add tests for reasoning defaults
  docs/Katamari_Technical_Spec_v1_ja.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/maintainers, @katamari-org/docs, @katamari-org/qa

Add trim message tests and helper
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add registry-driven parallel reasoning test
  docs/addenda/L_Config_Reference.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/maintainers, @katamari-org/docs, @katamari-org/qa

Ensure trim metrics message ignores show_debug flag
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure trim message visible without debug toggle
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

test: cover chat session reconnection backoff
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/maintainers

test: cover socket reconnection settings
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/maintainers

Improve prethought section parsing
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add header auth for ops endpoints
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

test: cover reasoning registry
  docs/addenda/L_Config_Reference.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/maintainers, @katamari-org/docs, @katamari-org/qa

Add reasoning effort coverage and update spec
  docs/Katamari_Technical_Spec_v1_ja.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/maintainers, @katamari-org/docs, @katamari-org/qa

Fix trim logging tests to cover debug toggle behavior
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure trim messaging debug flow and tighten prethought parsing
  src/app.py
  src/core_ext/prethought.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Run CI directly on pull_request
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Owners: @katamari-org/maintainers

Allow manual CI runs with custom ref
  .github/workflows/ci.yml
Owners: @katamari-org/maintainers

test: tighten prethought intent coverage
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Ensure trim messages use common formatter
  src/app.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure trim notifications run outside debug mode
  src/app.py
  src/core_ext/prethought.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Fix lint in useChatSession test
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
Owners: @katamari-org/maintainers

Fix analyze_intent freeform handling
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Fix trim logging test and expose intent sections helper
  src/core_ext/prethought.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Use helper for intent sections in tests
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/qa

test: assert trim message content via mock
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Align explicit section expectations with sample prompt
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/qa

test: verify analyze_intent structured keywords
  tests/core_ext/test_prethought.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Fix mypy issues in prethought intent helpers
  src/core_ext/prethought.py
Owners: @katamari-org/maintainers, @katamari-org/runtime

test: assert trim formatter arguments
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Ensure birdseye refresh tests use sys.executable
  tests/scripts/test_birdseye_refresh.py
Owners: @katamari-org/maintainers

Add assertions for trim message formatting test
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/qa

test: assert trim formatter call arguments
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/qa

CODEOWNERS:

# CODEOWNERS は主要領域ごとにレビュー担当者を割り当てます。詳細は CONTRIBUTING.md を参照してください。

# 既定の担当者
* @katamari-org/maintainers

# アプリケーション実装
/src/app.py @katamari-org/maintainers @katamari-org/runtime
/src/core_ext/ @katamari-org/maintainers @katamari-org/runtime
/src/providers/ @katamari-org/maintainers @katamari-org/integrations

# テスト
/tests/app/ @katamari-org/maintainers @katamari-org/qa
/tests/core_ext/ @katamari-org/maintainers @katamari-org/qa
/tests/providers/ @katamari-org/maintainers @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @katamari-org/maintainers @katamari-org/docs
/public/ @katamari-org/maintainers @katamari-org/frontend
/themes/ @katamari-org/maintainers @katamari-org/design

# 運用ツール
/scripts/ @katamari-org/maintainers @katamari-org/devops
