Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime-team, @katamari-org/providers-team, @katamari-org/backend, @alice-architect, @katamari-org/architecture-council, @katamari-org/docs-team, @katamari-org/ux-research, @katamari-org/content, @katamari-org/frontend, @design-lead, @katamari-org/qa, @katamari-org/tooling, @katamari-org/platform, @katamari-org/legal, @legal-counsel

CODEOWNERS:

# Default reviewers
* @katamari-org/maintainers

# Core runtime extensions
/src/core_ext/ @katamari-org/runtime-team

# Provider integrations
/providers/ @katamari-org/providers-team

# Application services
/src/services/ @katamari-org/backend @alice-architect
/src/ @katamari-org/backend

# Documentation and knowledge base
/docs/adr/ @katamari-org/architecture-council
/docs/ @katamari-org/docs-team

# Personas and themes
/personas/ @katamari-org/ux-research
/themes/ @katamari-org/content

# Public assets and frontend glue
/public/ @katamari-org/frontend @design-lead
/upstream/chainlit/ @katamari-org/frontend

# Python and shared tests
/tests/ @katamari-org/qa

# Tooling and automation scripts
/scripts/ @katamari-org/tooling

# Deployment manifests and infrastructure
/config/ @katamari-org/platform
/Dockerfile @katamari-org/platform
/Makefile @katamari-org/tooling

# Third-party and licensing mirrors
/third_party/ @katamari-org/legal

# Top-level governance
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CONTRIBUTING.md @katamari-org/maintainers
/CHECKLISTS.md @katamari-org/qa

Improve websocket token retrieval
  tests/app/test_socket_auth.py
  upstream/chainlit/backend/chainlit/socket.py
Owners: @katamari-org/qa, @katamari-org/frontend

Improve websocket token retrieval
  tests/app/test_socket_auth.py
  upstream/chainlit/backend/chainlit/socket.py
Owners: @katamari-org/qa, @katamari-org/frontend

Refine element creation feedback
  upstream/chainlit/backend/chainlit/element.py
  upstream/chainlit/backend/tests/test_element.py
Owners: @katamari-org/frontend

Ensure Prometheus parser enforces uppercase NaN
  scripts/perf/collect_metrics.py
  tests/app/test_metrics_healthz.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Handle blank semantic retention API keys
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/backend, @katamari-org/qa

Normalize semantic retention model defaults
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure Prometheus metrics emit canonical NaN
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/backend, @katamari-org/qa

fix: remove unsupported text fill property
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/frontend

fix: resolve background shorthand lint violation
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/frontend

fix: prevent conditional hook usage in ChatProfiles
  upstream/chainlit/frontend/src/components/header/ChatProfiles.tsx
  upstream/chainlit/frontend/tests/chat-profiles.spec.tsx
Owners: @katamari-org/frontend

Fix AskFileButton hook usage
  upstream/chainlit/frontend/src/components/chat/Messages/Message/AskFileButton.tsx
Owners: @katamari-org/frontend

Ensure Google Gemini provider requires API key
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @katamari-org/backend, @katamari-org/qa

docs: document GOOGLE_API_KEY fallback
  README.md
  config/env.example
Owners: @katamari-org/maintainers, @katamari-org/platform

test: ensure socket loader restores environment
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa

Refine socket auth loader cleanup
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa

Fix Prometheus parser to handle spaced label values
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Guard bearer parsing against whitespace
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure socket loader resets module stubs in tests
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa

Ensure socket loader restores environment
  pytest.ini
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Refine socket loader environment restoration
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa

Add failure cleanup test for socket loader
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa

Fix Prometheus parser for label values with spaces
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Reject bearer tokens containing whitespace
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @katamari-org/qa

Add audio emitter stub hooks for socket auth tests
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa

Add stub websocket session registry
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa

Validate bearer token characters
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @katamari-org/qa

Handle Prometheus timestamps in metric parser
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Validate bearer tokens with token68 fullmatch
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure Gemini provider selection is case-insensitive
  src/app.py
  tests/app/test_get_provider.py
Owners: @katamari-org/backend, @katamari-org/qa

Add websocket session stub coverage
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa

Add emitter recording for socket audio start
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa

Add priority role retention to context trimmer
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/backend, @katamari-org/qa

Add prompt evolution metrics orchestration
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @katamari-org/backend, @katamari-org/qa

Add SSE reconnection retries for chat session
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend

Add retryable streaming support for OpenAI provider
  src/providers/openai_client.py
  tests/app/test_logging.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @katamari-org/qa

Replace pickle persistence with JSON
  upstream/chainlit/cypress/e2e/data_layer/main.py
  upstream/chainlit/cypress/e2e/data_layer/spec.cy.ts
Owners: @katamari-org/frontend

Add SRI to KaTeX CDN stylesheet
  upstream/chainlit/frontend/index.html
Owners: @katamari-org/frontend

Fix percent sanitization in hslToHex
  upstream/chainlit/frontend/src/lib/utils.test.ts
  upstream/chainlit/frontend/src/lib/utils.ts
Owners: @katamari-org/frontend

Restrict dynamic imports in chainlit utils
  tests/app/test_chainlit_utils.py
  upstream/chainlit/backend/chainlit/utils.py
Owners: @katamari-org/qa, @katamari-org/frontend

fix: restrict window message target origin
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend
