Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime-team, @katamari-org/providers-team, @katamari-org/backend, @alice-architect, @katamari-org/architecture-council, @katamari-org/docs-team, @katamari-org/ux-research, @katamari-org/content, @katamari-org/frontend, @design-lead, @katamari-org/qa, @katamari-org/tooling, @katamari-org/platform, @katamari-org/legal, @legal-counsel

Handle missing semantic retention metric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Update README with name origin explanation
  README.md
Owners: @katamari-org/maintainers

Handle persona reset on empty input
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Add reasoning defaults for thinking models and cover forwarding
  src/app.py
  tests/app/test_get_provider.py
Owners: @katamari-org/backend, @katamari-org/qa

Add min turn preservation for context trimming
  src/app.py
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/backend, @katamari-org/qa

Compute semantic retention asynchronously
  src/app.py
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

feat: flag forbidden persona terms
  config/persona_forbidden_patterns.json
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/platform, @katamari-org/backend, @katamari-org/qa

Add full Python and Node CI gates
  .github/workflows/ci.yml
  Makefile
Owners: @katamari-org/maintainers, @katamari-org/tooling

feat(ci): cache dependencies and log metrics
  .github/workflows/ci.yml
  RUNBOOK.md
  scripts/cache/hash_lockfiles.py
Owners: @katamari-org/maintainers, @katamari-org/tooling

Add recorded OpenAI stream fixtures for CI tests
  tests/providers/fixtures/openai_chat_reflect_stream.json
  tests/providers/test_openai_provider_stream.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa

Fix provider job secret condition
  .github/workflows/ci.yml
Owners: @katamari-org/maintainers

fix: fallback when uv binary is unavailable
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/frontend

Add mypy configuration
  mypy.ini
Owners: @katamari-org/maintainers

Ensure cypress fallback installs backend deps
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/frontend

fix: resolve ruff lint issues
  scripts/switch_theme.py
  src/core_ext/evolve.py
  src/core_ext/persona_compiler.py
  src/core_ext/prethought.py
  src/providers/openai_client.py
  upstream/chainlit/backend/chainlit/langchain/callbacks.py
  upstream/chainlit/backend/tests/data/storage_clients/test_gcs.py
Owners: @katamari-org/tooling, @katamari-org/backend, @katamari-org/frontend

Add Chainlit React client type declarations
  upstream/chainlit/.gitignore
  upstream/chainlit/libs/react-client/dist/index.d.ts
Owners: @katamari-org/frontend

Ensure CI runs on pull requests
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Owners: @katamari-org/maintainers

Improve backend lint fallback
  upstream/chainlit/backend/scripts/lint_python.sh
  upstream/chainlit/package.json
Owners: @katamari-org/frontend

ci: skip stale main push runs
  .github/workflows/ci.yml
Owners: @katamari-org/maintainers

Pass min_turns to context trimmer
  src/app.py
Owners: @katamari-org/backend

Fix trim_messages min_turns forwarding
  src/app.py
Owners: @katamari-org/backend

Pass min_turns to context trimmer
  src/app.py
Owners: @katamari-org/backend

Add module entry point for chainlit CLI
  upstream/chainlit/backend/chainlit/cli/__main__.py
  upstream/chainlit/backend/tests/test_cli_entrypoint.py
Owners: @katamari-org/frontend

Fix trim_messages monkeypatch signature
  tests/app/test_logging.py
Owners: @katamari-org/qa

Ensure persona updates refresh history system prompt
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Fix UP022 lint in CLI entrypoint test
  upstream/chainlit/backend/tests/test_cli_entrypoint.py
Owners: @katamari-org/frontend

chore: ignore optional deps for mypy
  upstream/chainlit/backend/pyproject.toml
Owners: @katamari-org/frontend

Relax mypy missing import handling for optional deps
  mypy.ini
Owners: @katamari-org/maintainers

Provide pandas stub for dataframe e2e sample
  upstream/chainlit/cypress/e2e/dataframe/main.py
Owners: @katamari-org/frontend

Ensure persona updates seed history with system prompt
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure min_turns forwarded to trim_messages
  src/app.py
Owners: @katamari-org/backend

Align persona compiler fallback with default prompt
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/backend, @katamari-org/qa

Handle missing semantic retention metrics
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @katamari-org/qa

Handle missing llama_index for callback sample
  tests/app/test_chainlit_llama_index_stub.py
  upstream/chainlit/cypress/e2e/llama_index_cb/main.py
Owners: @katamari-org/qa, @katamari-org/frontend

Add pandas fallback for chainlit dataframe test
  upstream/chainlit/cypress/e2e/dataframe/main.py
Owners: @katamari-org/frontend

Add plotly dependency for chainlit plot tests
  requirements.txt
Owners: @katamari-org/maintainers

Ensure semantic retention metrics retain unset state
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure persona compiler reuses app default prompt
  src/core_ext/persona_compiler.py
  tests/test_persona_compiler.py
Owners: @katamari-org/backend, @katamari-org/qa

fix: ensure plotly extra for cypress
  upstream/chainlit/cypress/support/run.ts
Owners: @katamari-org/frontend

Add fallback for Google API key in Gemini provider
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @katamari-org/backend, @katamari-org/qa

CODEOWNERS:

# Default reviewers
* @katamari-org/maintainers

# Core runtime extensions
/src/core_ext/ @katamari-org/runtime-team

# Provider integrations
/providers/ @katamari-org/providers-team

# Application services
/src/services/ @katamari-org/backend @alice-architect
/src/ @katamari-org/backend

# Documentation and knowledge base
/docs/adr/ @katamari-org/architecture-council
/docs/ @katamari-org/docs-team

# Personas and themes
/personas/ @katamari-org/ux-research
/themes/ @katamari-org/content

# Public assets and frontend glue
/public/ @katamari-org/frontend @design-lead
/upstream/chainlit/ @katamari-org/frontend

# Python and shared tests
/tests/ @katamari-org/qa

# Tooling and automation scripts
/scripts/ @katamari-org/tooling

# Deployment manifests and infrastructure
/config/ @katamari-org/platform
/Dockerfile @katamari-org/platform
/Makefile @katamari-org/tooling

# Third-party and licensing mirrors
/third_party/ @katamari-org/legal

# Top-level governance
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CONTRIBUTING.md @katamari-org/maintainers
/CHECKLISTS.md @katamari-org/qa
