Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @legal-counsel, @katamari-org/qa, @sre-duty-officer, @katamari-org/backend, @runtime-duty-officer, @alice-architect, @katamari-org/runtime-team, @katamari-org/providers-team, @integrations-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/architecture-council, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @frontend-captain, @platform-liaison, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @data-science-lead, @katamari-org/legal

Normalize lockfile digest paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle home directory expansion in lockfile hashing
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Refresh OpenAI factory cache when alias changes
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/providers-team, @integrations-lead, @katamari-org/qa, @product-tech-lead

Ensure AsyncOpenAI alias is always available
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/providers-team, @integrations-lead, @katamari-org/qa, @product-tech-lead

Add home path deduplication test for hash lockfiles
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle blank Gemini API keys
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @katamari-org/providers-team, @integrations-lead, @katamari-org/qa, @product-tech-lead

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle blank OpenAI API key values
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/providers-team, @integrations-lead, @katamari-org/qa, @product-tech-lead

Fix mypy issues in OpenAI client
  src/providers/openai_client.py
Owners: @katamari-org/providers-team, @integrations-lead

fix: harden openai client resolution
  src/providers/openai_client.py
Owners: @katamari-org/providers-team, @integrations-lead

Refine lockfile normalization
  scripts/cache/hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead

Normalize lockfile hashing by repository-relative paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Raise error for missing lockfile paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure missing lockfiles surface ENOENT
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Normalize lockfile hashing to repo-relative paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Validate OPENAI_API_KEY before creating client
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/providers-team, @integrations-lead, @katamari-org/qa, @product-tech-lead

Fix AsyncOpenAI fallback handling
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/providers-team, @integrations-lead, @katamari-org/qa, @product-tech-lead

Fix OpenAI provider cache refresh and lockfile normalization
  scripts/cache/hash_lockfiles.py
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/providers-team, @integrations-lead, @katamari-org/qa, @product-tech-lead

Refine async OpenAI factory detection
  src/providers/openai_client.py
Owners: @katamari-org/providers-team, @integrations-lead

Normalize default choice resolution
  src/app.py
  tests/app/test_on_start.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

Normalize whitespace-only retention embedder keys
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/runtime-team, @alice-architect, @katamari-org/qa, @product-tech-lead

Adjust metrics tests to expect uppercase NaN
  tests/app/test_metrics_healthz.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Ensure Prometheus metrics export emits NaN
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/backend, @alice-architect, @katamari-org/qa, @product-tech-lead

chore: run container as non root
  Dockerfile
Owners: @katamari-org/platform, @sre-duty-officer

Fix invalid text fill property in copilot styles
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/frontend, @platform-liaison

Refine element creation feedback
  upstream/chainlit/backend/chainlit/element.py
  upstream/chainlit/backend/tests/test_element.py
Owners: @katamari-org/frontend, @platform-liaison

Refactor feedback handling in ReadOnlyThread
  upstream/chainlit/frontend/src/components/ReadOnlyThread.tsx
Owners: @katamari-org/frontend, @platform-liaison

Enforce secure SSL defaults for SQLAlchemy data layer
  upstream/chainlit/backend/chainlit/data/sql_alchemy.py
  upstream/chainlit/backend/tests/data/test_sql_alchemy.py
Owners: @katamari-org/frontend, @platform-liaison

Add comment for update_step stub
  upstream/chainlit/cypress/e2e/data_layer/main.py
Owners: @katamari-org/frontend, @platform-liaison

Refactor chat upload callbacks
  upstream/chainlit/frontend/src/components/chat/index.tsx
Owners: @katamari-org/frontend, @platform-liaison

Add comment for missing step persistence
  upstream/chainlit/cypress/e2e/thread_resume/main.py
Owners: @katamari-org/frontend, @platform-liaison

fix: restrict window message target origin
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @platform-liaison

Fix loading shimmer background declarations
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/frontend, @platform-liaison

Fix background property ordering for loading shimmer
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/frontend, @platform-liaison

Enable SSL hostname verification
  upstream/chainlit/backend/chainlit/data/sql_alchemy.py
  upstream/chainlit/backend/tests/data/test_sql_alchemy.py
Owners: @katamari-org/frontend, @platform-liaison

fix: reorder loading shimmer background declaration
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/frontend, @platform-liaison

Fix dataframe hook usage
  upstream/chainlit/frontend/src/components/Elements/Dataframe.tsx
  upstream/chainlit/frontend/tests/dataframe.spec.tsx
  upstream/chainlit/frontend/tests/stubs/chainlit-react-client.ts
  upstream/chainlit/frontend/vitest.config.ts
Owners: @katamari-org/frontend, @platform-liaison

Fix loading shimmer background-position order
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/frontend, @platform-liaison

Fix step decorator call
  upstream/chainlit/backend/chainlit/step.py
Owners: @katamari-org/frontend, @platform-liaison

Fix invalid text-fill-color declaration
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/frontend, @platform-liaison

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要オーナーが一次レビュー責任者、副担当が代理承認とレビューサポートを担います。
# レビュー責務:
# - 主要オーナーは 1 営業日以内にレビュー可否を返信し、3 営業日以内に必須指摘を完了させます。
# - 副担当は主要オーナー不在時に代理し、合意形成とマージ判断をサポートします。
# - 重大インシデントや期限付き対応は `@katamari-org/maintainers` へ即時エスカレーションします。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# コミュニティポリシー / ガバナンス
/CONTRIBUTING.md @katamari-org/maintainers @product-tech-lead
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CHECKLISTS.md @katamari-org/qa @product-tech-lead
/RUNBOOK.md @katamari-org/maintainers @sre-duty-officer
/CHANGELOG.md @katamari-org/maintainers @product-tech-lead

# コアランタイム / バックエンド
/src/ @katamari-org/backend @runtime-duty-officer
/src/app.py @katamari-org/backend @alice-architect
/src/core_ext/ @katamari-org/runtime-team @alice-architect
/src/providers/ @katamari-org/providers-team @integrations-lead

# テスト / 品質保証
/tests/ @katamari-org/qa @product-tech-lead
/tests/fixtures/ @katamari-org/qa @runtime-duty-officer
/pytest.ini @katamari-org/qa @product-tech-lead

# ドキュメント / ナレッジ
/README.md @katamari-org/docs-team @devrel-lead
/docs/ @katamari-org/docs-team @devrel-lead
/docs/adr/ @katamari-org/architecture-council @alice-architect
/docs/openapi/ @katamari-org/architecture-council @product-tech-lead
/docs/addenda/ @katamari-org/docs-team @devrel-lead
/docs/birdseye/ @katamari-org/docs-team @product-tech-lead

# ペルソナ / ブランディング
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead
/public/ @katamari-org/frontend @design-lead

# フロントエンド / UI
/upstream/chainlit/ @katamari-org/frontend @frontend-captain
/upstream/ @katamari-org/frontend @platform-liaison

# ツール / 自動化
/scripts/ @katamari-org/tooling @devops-lead
/Makefile @katamari-org/tooling @devops-lead
/config/ci/ @katamari-org/tooling @devops-lead
/config/ @katamari-org/platform @sre-duty-officer
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / 依存関係
/Dockerfile @katamari-org/platform @sre-duty-officer
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead

# サードパーティ / ライセンス
/third_party/ @katamari-org/legal @legal-counsel
