Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @katamari-org/legal, @legal-counsel, @frontend-captain, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @sre-duty-officer, @data-science-lead

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要ディレクトリ単位でレビュー責任者を明確化します。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# ガバナンス / ナレッジ
/docs/ @katamari-org/docs-team @devrel-lead
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead
/public/ @katamari-org/frontend @design-lead

# コアランタイム / バックエンド
/src/ @katamari-org/backend @runtime-duty-officer
/tests/ @katamari-org/qa @product-tech-lead
/third_party/ @katamari-org/legal @legal-counsel

# フロントエンド / ESM
/upstream/ @katamari-org/frontend @frontend-captain

# ツール / プラットフォーム
/scripts/ @katamari-org/tooling @devops-lead
/config/ @katamari-org/platform @sre-duty-officer
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / 依存関係
/Dockerfile @katamari-org/platform @sre-duty-officer
/Makefile @katamari-org/tooling @devops-lead
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead

Improve websocket token retrieval
  tests/app/test_socket_auth.py
  upstream/chainlit/backend/chainlit/socket.py
Owners: @katamari-org/qa, @product-tech-lead, @katamari-org/frontend, @frontend-captain

Improve websocket token retrieval
  tests/app/test_socket_auth.py
  upstream/chainlit/backend/chainlit/socket.py
Owners: @katamari-org/qa, @product-tech-lead, @katamari-org/frontend, @frontend-captain

Refine element creation feedback
  upstream/chainlit/backend/chainlit/element.py
  upstream/chainlit/backend/tests/test_element.py
Owners: @katamari-org/frontend, @frontend-captain

Ensure Prometheus parser enforces uppercase NaN
  scripts/perf/collect_metrics.py
  tests/app/test_metrics_healthz.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle blank semantic retention API keys
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Normalize semantic retention model defaults
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure Prometheus metrics emit canonical NaN
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

fix: remove unsupported text fill property
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/frontend, @frontend-captain

fix: resolve background shorthand lint violation
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/frontend, @frontend-captain

fix: prevent conditional hook usage in ChatProfiles
  upstream/chainlit/frontend/src/components/header/ChatProfiles.tsx
  upstream/chainlit/frontend/tests/chat-profiles.spec.tsx
Owners: @katamari-org/frontend, @frontend-captain

Fix AskFileButton hook usage
  upstream/chainlit/frontend/src/components/chat/Messages/Message/AskFileButton.tsx
Owners: @katamari-org/frontend, @frontend-captain

Ensure Google Gemini provider requires API key
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

docs: document GOOGLE_API_KEY fallback
  README.md
  config/env.example
Owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/platform, @sre-duty-officer

test: ensure socket loader restores environment
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa, @product-tech-lead

Refine socket auth loader cleanup
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa, @product-tech-lead

Fix Prometheus parser to handle spaced label values
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Guard bearer parsing against whitespace
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure socket loader resets module stubs in tests
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa, @product-tech-lead

Ensure socket loader restores environment
  pytest.ini
  tests/app/test_socket_auth.py
Owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/qa

Refine socket loader environment restoration
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa, @product-tech-lead

Add failure cleanup test for socket loader
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa, @product-tech-lead

Fix Prometheus parser for label values with spaces
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Reject bearer tokens containing whitespace
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add audio emitter stub hooks for socket auth tests
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa, @product-tech-lead

Add stub websocket session registry
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa, @product-tech-lead

Validate bearer token characters
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Handle Prometheus timestamps in metric parser
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Validate bearer tokens with token68 fullmatch
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure Gemini provider selection is case-insensitive
  src/app.py
  tests/app/test_get_provider.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add websocket session stub coverage
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa, @product-tech-lead

Add emitter recording for socket audio start
  tests/app/test_socket_auth.py
Owners: @katamari-org/qa, @product-tech-lead

Add priority role retention to context trimmer
  src/core_ext/context_trimmer.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add prompt evolution metrics orchestration
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add SSE reconnection retries for chat session
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @frontend-captain

Add retryable streaming support for OpenAI provider
  src/providers/openai_client.py
  tests/app/test_logging.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Replace pickle persistence with JSON
  upstream/chainlit/cypress/e2e/data_layer/main.py
  upstream/chainlit/cypress/e2e/data_layer/spec.cy.ts
Owners: @katamari-org/frontend, @frontend-captain

Add SRI to KaTeX CDN stylesheet
  upstream/chainlit/frontend/index.html
Owners: @katamari-org/frontend, @frontend-captain

Fix percent sanitization in hslToHex
  upstream/chainlit/frontend/src/lib/utils.test.ts
  upstream/chainlit/frontend/src/lib/utils.ts
Owners: @katamari-org/frontend, @frontend-captain

Restrict dynamic imports in chainlit utils
  tests/app/test_chainlit_utils.py
  upstream/chainlit/backend/chainlit/utils.py
Owners: @katamari-org/qa, @product-tech-lead, @katamari-org/frontend, @frontend-captain

fix: restrict window message target origin
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @frontend-captain
