Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime-team, @katamari-org/providers-team, @katamari-org/backend, @alice-architect, @katamari-org/architecture-council, @katamari-org/docs-team, @katamari-org/ux-research, @katamari-org/content, @katamari-org/frontend, @design-lead, @katamari-org/qa, @katamari-org/tooling, @katamari-org/platform, @katamari-org/legal, @legal-counsel

Validate collect_metrics URL schemes
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/tooling, @katamari-org/qa

Use JSON for Cypress data layer persistence
  tests/app/test_data_layer_serialization.py
  upstream/chainlit/cypress/e2e/data_layer/main.py
  upstream/chainlit/cypress/e2e/data_layer/spec.cy.ts
Owners: @katamari-org/qa, @katamari-org/frontend

Prevent custom build path traversal
  tests/app/test_custom_build_path.py
  upstream/chainlit/backend/chainlit/server.py
Owners: @katamari-org/qa, @katamari-org/frontend

fix: harden console format strings
  upstream/chainlit/cypress/support/run.ts
  upstream/chainlit/frontend/src/components/MarkdownAlert.tsx
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend

fix: validate window message origin
  upstream/chainlit/frontend/src/AppWrapper.tsx
  upstream/chainlit/frontend/tests/app-wrapper.spec.tsx
Owners: @katamari-org/frontend

Implement resilient OpenAI streaming retries
  CHANGELOG.md
  RUNBOOK.md
  mypy.ini
  pyproject.toml
  src/providers/openai_client.py
  tests/app/test_chainlit_llama_index_stub.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/backend, @katamari-org/qa

Ensure priority trim roles survive over-budget skips
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/backend, @katamari-org/qa

Add prompt evolution tests and refine generator handling
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @katamari-org/backend, @katamari-org/qa

feat: add SSE MCP retry helper with exponential backoff
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend

Add test for candidate generator seed handling
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure system override after persona reset
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Align Birdseye hot list timestamps with ISO8601
  RUNBOOK.md
  docs/birdseye/README.md
  docs/birdseye/hot.json
  mypy.ini
  scripts/birdseye_refresh.py
  tests/scripts/test_birdseye_refresh.py
  tests/workflow_cookbook/tools/test_codemap_update.py
Owners: @katamari-org/maintainers, @katamari-org/docs-team, @katamari-org/tooling, @katamari-org/qa

Fix RecoilRoot wrappers in useChatSession tests
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
Owners: @katamari-org/frontend

Fix custom build path handling
  tests/app/test_custom_build_path.py
  upstream/chainlit/backend/chainlit/server.py
Owners: @katamari-org/qa, @katamari-org/frontend

Adjust SSE SSE retry limit
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend

Fix provider options reasoning parallel handling
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure Birdseye hot list metadata stays in sync
  docs/birdseye/hot.json
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @katamari-org/docs-team, @katamari-org/legal

Ensure birdseye hot.json timestamps mirror index
  docs/birdseye/hot.json
  scripts/birdseye_refresh.py
  tests/workflow_cookbook/tools/test_codemap_update.py
Owners: @katamari-org/docs-team, @katamari-org/tooling, @katamari-org/qa

Ensure thinking reasoning defaults are merged
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/backend, @katamari-org/qa

Handle structured OpenAI stream content
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @katamari-org/qa

Fix reasoning defaults for thinking models
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/backend, @katamari-org/qa

Validate codemap targets before update
  third_party/Day8/workflow-cookbook/tools/codemap/README.md
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @katamari-org/legal

Preserve Birdseye hot list metadata
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @katamari-org/legal

Handle structured delta namespace content in OpenAI stream
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @katamari-org/qa

Fix namespace token extraction recursion
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @katamari-org/qa

Update README with repository status and suggestions
  README.md
Owners: @katamari-org/maintainers

Update README to include Japanese text
  README.md
Owners: @katamari-org/maintainers

fix: Resolve ruff lint errors
  chainlit.md
  src/core_ext/memory/__pycache__/inmemory.cpython-310.pyc
  src/core_ext/memory/inmemory.py
  tests/app/__pycache__/test_oauth.cpython-310-pytest-8.3.5.pyc
  tests/app/test_oauth.py
Owners: @katamari-org/maintainers, @katamari-org/backend, @katamari-org/qa

fix: Add asyncio configuration to pytest.ini
  pytest.ini
Owners: @katamari-org/maintainers

fix: Add pytest-asyncio to CI dependencies
  .github/workflows/ci.yml
Owners: @katamari-org/maintainers

feat: Add start.bat for Windows
  start.bat
Owners: @katamari-org/maintainers

fix: Auto-increment port if already in use
  start.bat
Owners: @katamari-org/maintainers

feat: Add multi-provider support and improve setup experience
  .env.sample
  .gitignore
  README.md
  config/env.example
Owners: @katamari-org/maintainers, @katamari-org/platform

chore: Organize root folder structure
  .env.sample
  CHECKLISTS.md
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/TASKS.md
  docs/UPSTREAM.md
  docs/addenda/H_Deploy_Guide.md
  docs/addenda/I_Test_Cases.md
  docs/addenda/J_Runbook.md
  docs/adr/0001-use-chainlit-subtree.md
  docs/adr/0005-m1-5-oauth-and-token-governance.md
  docs/adr/0007-m2-5-persistence-and-hybrid-memory.md
  docs/birdseye/README.md
  docs/tasks/TASK.2025-10-19-0001.md
  docs/tasks/TASK.2025-10-19-0002.md
  docs/tasks/TASK.2025-10-21-0002.md
  docs/tasks/TASK.2025-10-21-0003.md
  docs/tasks/TASK.2025-10-23-0001.md
Owners: @katamari-org/maintainers, @katamari-org/qa, @katamari-org/docs-team

release: v1.0.0-frozen - Project frozen
  CHANGELOG.md
  README.md
Owners: @katamari-org/maintainers

CODEOWNERS:

# Default reviewers
* @katamari-org/maintainers

# Core runtime extensions
/src/core_ext/ @katamari-org/runtime-team

# Provider integrations
/providers/ @katamari-org/providers-team

# Application services
/src/services/ @katamari-org/backend @alice-architect
/src/ @katamari-org/backend

# Documentation and knowledge base
/docs/adr/ @katamari-org/architecture-council
/docs/ @katamari-org/docs-team

# Personas and themes
/personas/ @katamari-org/ux-research
/themes/ @katamari-org/content

# Public assets and frontend glue
/public/ @katamari-org/frontend @design-lead
/upstream/chainlit/ @katamari-org/frontend

# Python and shared tests
/tests/ @katamari-org/qa

# Tooling and automation scripts
/scripts/ @katamari-org/tooling

# Deployment manifests and infrastructure
/config/ @katamari-org/platform
/Dockerfile @katamari-org/platform
/Makefile @katamari-org/tooling

# Third-party and licensing mirrors
/third_party/ @katamari-org/legal

# Top-level governance
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CONTRIBUTING.md @katamari-org/maintainers
/CHECKLISTS.md @katamari-org/qa
