Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/runtime-team, @alice-architect, @katamari-org/providers-team, @integrations-lead, @katamari-org/backend, @runtime-duty-officer, @katamari-org/docs-team, @devrel-lead, @katamari-org/architecture-council, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @frontend-captain, @platform-liaison, @katamari-org/qa, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @sre-duty-officer, @data-science-lead, @katamari-org/legal, @legal-counsel

Add heuristic-based prethought intent extraction
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

docs: clarify min_turns trimming
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/docs-team, @devrel-lead

docs: update provider reasoning behavior
  docs/Katamari_Technical_Spec_v1_ja.md
Owners: @katamari-org/docs-team, @devrel-lead

Ensure trim metrics message always emitted
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

test: cover socket reconnection options
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @platform-liaison

test: ensure chat session uses exponential socket.io reconnection
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @platform-liaison

Improve prethought intent analysis
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Decouple trim notification from debug details
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add reconnection options constants and tests
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @platform-liaison

feat: enhance prethought section parsing
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add tests for reasoning defaults
  docs/Katamari_Technical_Spec_v1_ja.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/docs-team, @devrel-lead, @katamari-org/qa, @product-tech-lead

Add trim message tests and helper
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add registry-driven parallel reasoning test
  docs/addenda/L_Config_Reference.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/docs-team, @devrel-lead, @katamari-org/qa, @product-tech-lead

Ensure trim metrics message ignores show_debug flag
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure trim message visible without debug toggle
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

test: cover chat session reconnection backoff
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @platform-liaison

test: cover socket reconnection settings
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @platform-liaison

Improve prethought section parsing
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add header auth for ops endpoints
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

test: cover reasoning registry
  docs/addenda/L_Config_Reference.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/docs-team, @devrel-lead, @katamari-org/qa, @product-tech-lead

Add reasoning effort coverage and update spec
  docs/Katamari_Technical_Spec_v1_ja.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/docs-team, @devrel-lead, @katamari-org/qa, @product-tech-lead

Fix trim logging tests to cover debug toggle behavior
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure trim messaging debug flow and tighten prethought parsing
  src/app.py
  src/core_ext/prethought.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Run CI directly on pull_request
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Owners: @katamari-org/tooling, @devrel-lead

Allow manual CI runs with custom ref
  .github/workflows/ci.yml
Owners: @katamari-org/tooling, @devrel-lead

test: tighten prethought intent coverage
  tests/core_ext/test_prethought.py
Owners: @katamari-org/qa, @product-tech-lead

Ensure trim messages use common formatter
  src/app.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure trim notifications run outside debug mode
  src/app.py
  src/core_ext/prethought.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Fix lint in useChatSession test
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
Owners: @katamari-org/frontend, @platform-liaison

Fix analyze_intent freeform handling
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Fix trim logging test and expose intent sections helper
  src/core_ext/prethought.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Use helper for intent sections in tests
  tests/core_ext/test_prethought.py
Owners: @katamari-org/qa, @product-tech-lead

test: assert trim message content via mock
  tests/app/test_logging.py
Owners: @katamari-org/qa, @product-tech-lead

Align explicit section expectations with sample prompt
  tests/core_ext/test_prethought.py
Owners: @katamari-org/qa, @product-tech-lead

test: verify analyze_intent structured keywords
  tests/core_ext/test_prethought.py
Owners: @katamari-org/qa, @product-tech-lead

Fix mypy issues in prethought intent helpers
  src/core_ext/prethought.py
Owners: @katamari-org/backend, @runtime-duty-officer

test: assert trim formatter arguments
  tests/app/test_logging.py
Owners: @katamari-org/qa, @product-tech-lead

Ensure birdseye refresh tests use sys.executable
  tests/scripts/test_birdseye_refresh.py
Owners: @katamari-org/qa, @product-tech-lead

Add assertions for trim message formatting test
  tests/app/test_logging.py
Owners: @katamari-org/qa, @product-tech-lead

test: assert trim formatter call arguments
  tests/app/test_logging.py
Owners: @katamari-org/qa, @product-tech-lead

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要オーナーは一次レビュー責任者、副担当はレビュー支援・代理承認責任を持ちます。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# コアランタイム拡張
/src/core_ext/ @katamari-org/runtime-team @alice-architect

# プロバイダ統合
/src/providers/ @katamari-org/providers-team @integrations-lead

# アプリケーションサービス
/src/app.py @katamari-org/backend @alice-architect
/src/services/ @katamari-org/backend @product-tech-lead
/src/ @katamari-org/backend @runtime-duty-officer

# ドキュメント / ナレッジベース
/README.md @katamari-org/docs-team @devrel-lead
/docs/adr/ @katamari-org/architecture-council @alice-architect
/docs/ @katamari-org/docs-team @devrel-lead

# ペルソナ / テーマ
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead

# 公開アセット / フロントエンド
/public/ @katamari-org/frontend @design-lead
/upstream/chainlit/ @katamari-org/frontend @frontend-captain
/upstream/ @katamari-org/frontend @platform-liaison

# Python / 共有テスト
/tests/ @katamari-org/qa @product-tech-lead
/pytest.ini @katamari-org/qa @product-tech-lead

# ツール / 自動化
/scripts/ @katamari-org/tooling @devops-lead
/Makefile @katamari-org/tooling @devops-lead
/config/ci/ @katamari-org/tooling @devops-lead
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / インフラ
/config/ @katamari-org/platform @sre-duty-officer
/Dockerfile @katamari-org/platform @sre-duty-officer

# 依存関係管理
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead

# サードパーティ / ライセンス
/third_party/ @katamari-org/legal @legal-counsel

# トップレベルガバナンス
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CONTRIBUTING.md @katamari-org/maintainers @product-tech-lead
/CHECKLISTS.md @katamari-org/qa @product-tech-lead
