Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime-team, @katamari-org/providers-team, @katamari-org/backend, @alice-architect, @katamari-org/architecture-council, @katamari-org/docs-team, @katamari-org/ux-research, @katamari-org/content, @katamari-org/frontend, @design-lead, @katamari-org/qa, @katamari-org/tooling, @katamari-org/platform, @katamari-org/legal, @legal-counsel

CODEOWNERS:

# Default reviewers
* @katamari-org/maintainers

# Core runtime extensions
/src/core_ext/ @katamari-org/runtime-team

# Provider integrations
/providers/ @katamari-org/providers-team

# Application services
/src/services/ @katamari-org/backend @alice-architect
/src/ @katamari-org/backend

# Documentation and knowledge base
/docs/adr/ @katamari-org/architecture-council
/docs/ @katamari-org/docs-team

# Personas and themes
/personas/ @katamari-org/ux-research
/themes/ @katamari-org/content

# Public assets and frontend glue
/public/ @katamari-org/frontend @design-lead
/upstream/chainlit/ @katamari-org/frontend

# Python and shared tests
/tests/ @katamari-org/qa

# Tooling and automation scripts
/scripts/ @katamari-org/tooling

# Deployment manifests and infrastructure
/config/ @katamari-org/platform
/Dockerfile @katamari-org/platform
/Makefile @katamari-org/tooling

# Third-party and licensing mirrors
/third_party/ @katamari-org/legal

# Top-level governance
/CODE_OF_CONDUCT.md @katamari-org/maintainers @legal-counsel
/CONTRIBUTING.md @katamari-org/maintainers
/CHECKLISTS.md @katamari-org/qa

Add heuristic-based prethought intent extraction
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @katamari-org/qa

docs: clarify min_turns trimming
  docs/addenda/D_Trim_Design.md
Owners: @katamari-org/docs-team

docs: update provider reasoning behavior
  docs/Katamari_Technical_Spec_v1_ja.md
Owners: @katamari-org/docs-team

Ensure trim metrics message always emitted
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

test: cover socket reconnection options
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend

test: ensure chat session uses exponential socket.io reconnection
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend

Improve prethought intent analysis
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @katamari-org/qa

Decouple trim notification from debug details
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Add reconnection options constants and tests
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend

feat: enhance prethought section parsing
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @katamari-org/qa

Add tests for reasoning defaults
  docs/Katamari_Technical_Spec_v1_ja.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/docs-team, @katamari-org/qa

Add trim message tests and helper
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Add registry-driven parallel reasoning test
  docs/addenda/L_Config_Reference.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/docs-team, @katamari-org/qa

Ensure trim metrics message ignores show_debug flag
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure trim message visible without debug toggle
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

test: cover chat session reconnection backoff
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend

test: cover socket reconnection settings
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend

Improve prethought section parsing
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @katamari-org/qa

Add header auth for ops endpoints
  src/app.py
  tests/app/test_metrics_healthz.py
Owners: @katamari-org/backend, @katamari-org/qa

test: cover reasoning registry
  docs/addenda/L_Config_Reference.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/docs-team, @katamari-org/qa

Add reasoning effort coverage and update spec
  docs/Katamari_Technical_Spec_v1_ja.md
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/docs-team, @katamari-org/qa

Fix trim logging tests to cover debug toggle behavior
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure trim messaging debug flow and tighten prethought parsing
  src/app.py
  src/core_ext/prethought.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @katamari-org/qa

Run CI directly on pull_request
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Owners: @katamari-org/maintainers

Allow manual CI runs with custom ref
  .github/workflows/ci.yml
Owners: @katamari-org/maintainers

test: tighten prethought intent coverage
  tests/core_ext/test_prethought.py
Owners: @katamari-org/qa

Ensure trim messages use common formatter
  src/app.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @katamari-org/qa

Ensure trim notifications run outside debug mode
  src/app.py
  src/core_ext/prethought.py
  tests/app/test_logging.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @katamari-org/qa

Fix lint in useChatSession test
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
Owners: @katamari-org/frontend

Fix analyze_intent freeform handling
  src/core_ext/prethought.py
  tests/core_ext/test_prethought.py
Owners: @katamari-org/backend, @katamari-org/qa

Fix trim logging test and expose intent sections helper
  src/core_ext/prethought.py
  tests/app/test_logging.py
Owners: @katamari-org/backend, @katamari-org/qa

Use helper for intent sections in tests
  tests/core_ext/test_prethought.py
Owners: @katamari-org/qa

test: assert trim message content via mock
  tests/app/test_logging.py
Owners: @katamari-org/qa

Align explicit section expectations with sample prompt
  tests/core_ext/test_prethought.py
Owners: @katamari-org/qa

test: verify analyze_intent structured keywords
  tests/core_ext/test_prethought.py
Owners: @katamari-org/qa

Fix mypy issues in prethought intent helpers
  src/core_ext/prethought.py
Owners: @katamari-org/backend

test: assert trim formatter arguments
  tests/app/test_logging.py
Owners: @katamari-org/qa

Ensure birdseye refresh tests use sys.executable
  tests/scripts/test_birdseye_refresh.py
Owners: @katamari-org/qa

Add assertions for trim message formatting test
  tests/app/test_logging.py
Owners: @katamari-org/qa

test: assert trim formatter call arguments
  tests/app/test_logging.py
Owners: @katamari-org/qa
