Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/integrations, @katamari-org/qa, @katamari-org/docs, @katamari-org/frontend, @katamari-org/design, @katamari-org/devops

CODEOWNERS:

# CODEOWNERS は主要領域ごとにレビュー担当者を割り当てます。詳細は CONTRIBUTING.md を参照してください。

# 既定の担当者
* @katamari-org/maintainers

# アプリケーション実装
/src/app.py @katamari-org/maintainers @katamari-org/runtime
/src/core_ext/ @katamari-org/maintainers @katamari-org/runtime
/src/providers/ @katamari-org/maintainers @katamari-org/integrations

# テスト
/tests/app/ @katamari-org/maintainers @katamari-org/qa
/tests/core_ext/ @katamari-org/maintainers @katamari-org/qa
/tests/providers/ @katamari-org/maintainers @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @katamari-org/maintainers @katamari-org/docs
/public/ @katamari-org/maintainers @katamari-org/frontend
/themes/ @katamari-org/maintainers @katamari-org/design

# 運用ツール
/scripts/ @katamari-org/maintainers @katamari-org/devops

Validate collect_metrics URL schemes
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/maintainers, @katamari-org/devops

Use JSON for Cypress data layer persistence
  tests/app/test_data_layer_serialization.py
  upstream/chainlit/cypress/e2e/data_layer/main.py
  upstream/chainlit/cypress/e2e/data_layer/spec.cy.ts
Owners: @katamari-org/maintainers, @katamari-org/qa

Prevent custom build path traversal
  tests/app/test_custom_build_path.py
  upstream/chainlit/backend/chainlit/server.py
Owners: @katamari-org/maintainers, @katamari-org/qa

fix: harden console format strings
  upstream/chainlit/cypress/support/run.ts
  upstream/chainlit/frontend/src/components/MarkdownAlert.tsx
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/maintainers

fix: validate window message origin
  upstream/chainlit/frontend/src/AppWrapper.tsx
  upstream/chainlit/frontend/tests/app-wrapper.spec.tsx
Owners: @katamari-org/maintainers

Implement resilient OpenAI streaming retries
  CHANGELOG.md
  RUNBOOK.md
  mypy.ini
  pyproject.toml
  src/providers/openai_client.py
  tests/app/test_chainlit_llama_index_stub.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/integrations, @katamari-org/qa

Ensure priority trim roles survive over-budget skips
  src/core_ext/context_trimmer.py
  tests/app/test_logging.py
  tests/core_ext/test_context_trimmer.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Add prompt evolution tests and refine generator handling
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

feat: add SSE MCP retry helper with exponential backoff
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/maintainers

Add test for candidate generator seed handling
  src/core_ext/evolve.py
  tests/core_ext/test_evolve.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure system override after persona reset
  src/app.py
  tests/app/test_logging.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Align Birdseye hot list timestamps with ISO8601
  RUNBOOK.md
  docs/birdseye/README.md
  docs/birdseye/hot.json
  mypy.ini
  scripts/birdseye_refresh.py
  tests/scripts/test_birdseye_refresh.py
  tests/workflow_cookbook/tools/test_codemap_update.py
Owners: @katamari-org/maintainers, @katamari-org/docs, @katamari-org/devops

Fix RecoilRoot wrappers in useChatSession tests
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
Owners: @katamari-org/maintainers

Fix custom build path handling
  tests/app/test_custom_build_path.py
  upstream/chainlit/backend/chainlit/server.py
Owners: @katamari-org/maintainers, @katamari-org/qa

Adjust SSE SSE retry limit
  upstream/chainlit/libs/react-client/src/useChatSession.test.ts
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/maintainers

Fix provider options reasoning parallel handling
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Ensure Birdseye hot list metadata stays in sync
  docs/birdseye/hot.json
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @katamari-org/maintainers, @katamari-org/docs

Ensure birdseye hot.json timestamps mirror index
  docs/birdseye/hot.json
  scripts/birdseye_refresh.py
  tests/workflow_cookbook/tools/test_codemap_update.py
Owners: @katamari-org/maintainers, @katamari-org/docs, @katamari-org/devops

Ensure thinking reasoning defaults are merged
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Handle structured OpenAI stream content
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/integrations, @katamari-org/qa

Fix reasoning defaults for thinking models
  src/app.py
  tests/app/test_prepare_provider_options.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

Validate codemap targets before update
  third_party/Day8/workflow-cookbook/tools/codemap/README.md
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @katamari-org/maintainers

Preserve Birdseye hot list metadata
  third_party/Day8/workflow-cookbook/tools/codemap/update.py
  third_party/Day8/workflow-cookbook/tools/tests/test_codemap_update.py
Owners: @katamari-org/maintainers

Handle structured delta namespace content in OpenAI stream
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/integrations, @katamari-org/qa

Fix namespace token extraction recursion
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/maintainers, @katamari-org/integrations, @katamari-org/qa

Update README with repository status and suggestions
  README.md
Owners: @katamari-org/maintainers

Update README to include Japanese text
  README.md
Owners: @katamari-org/maintainers

fix: Resolve ruff lint errors
  chainlit.md
  src/core_ext/memory/__pycache__/inmemory.cpython-310.pyc
  src/core_ext/memory/inmemory.py
  tests/app/__pycache__/test_oauth.cpython-310-pytest-8.3.5.pyc
  tests/app/test_oauth.py
Owners: @katamari-org/maintainers, @katamari-org/runtime, @katamari-org/qa

fix: Add asyncio configuration to pytest.ini
  pytest.ini
Owners: @katamari-org/maintainers

fix: Add pytest-asyncio to CI dependencies
  .github/workflows/ci.yml
Owners: @katamari-org/maintainers

feat: Add start.bat for Windows
  start.bat
Owners: @katamari-org/maintainers

fix: Auto-increment port if already in use
  start.bat
Owners: @katamari-org/maintainers

feat: Add multi-provider support and improve setup experience
  .env.sample
  .gitignore
  README.md
  config/env.example
Owners: @katamari-org/maintainers

chore: Organize root folder structure
  .env.sample
  CHECKLISTS.md
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/TASKS.md
  docs/UPSTREAM.md
  docs/addenda/H_Deploy_Guide.md
  docs/addenda/I_Test_Cases.md
  docs/addenda/J_Runbook.md
  docs/adr/0001-use-chainlit-subtree.md
  docs/adr/0005-m1-5-oauth-and-token-governance.md
  docs/adr/0007-m2-5-persistence-and-hybrid-memory.md
  docs/birdseye/README.md
  docs/tasks/TASK.2025-10-19-0001.md
  docs/tasks/TASK.2025-10-19-0002.md
  docs/tasks/TASK.2025-10-21-0002.md
  docs/tasks/TASK.2025-10-21-0003.md
  docs/tasks/TASK.2025-10-23-0001.md
Owners: @katamari-org/maintainers, @katamari-org/docs

release: v1.0.0-frozen - Project frozen
  CHANGELOG.md
  README.md
Owners: @katamari-org/maintainers
