Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @katamari-org/maintainers, @product-tech-lead, @katamari-org/docs-team, @devrel-lead, @katamari-org/ux-research, @research-liaison, @katamari-org/content, @design-lead, @katamari-org/frontend, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @katamari-org/legal, @legal-counsel, @frontend-captain, @katamari-org/tooling, @devops-lead, @katamari-org/platform, @sre-duty-officer, @data-science-lead

CODEOWNERS:

# フォーマット: <パス> <主要オーナー> <副担当>
# 主要ディレクトリ単位でレビュー責任者を明確化します。

# デフォルトレビュア
* @katamari-org/maintainers @product-tech-lead

# ガバナンス / ナレッジ
/docs/ @katamari-org/docs-team @devrel-lead
/personas/ @katamari-org/ux-research @research-liaison
/themes/ @katamari-org/content @design-lead
/public/ @katamari-org/frontend @design-lead

# コアランタイム / バックエンド
/src/ @katamari-org/backend @runtime-duty-officer
/tests/ @katamari-org/qa @product-tech-lead
/third_party/ @katamari-org/legal @legal-counsel

# フロントエンド / ESM
/upstream/ @katamari-org/frontend @frontend-captain

# ツール / プラットフォーム
/scripts/ @katamari-org/tooling @devops-lead
/config/ @katamari-org/platform @sre-duty-officer
/.github/ @katamari-org/tooling @devrel-lead

# デプロイ / 依存関係
/Dockerfile @katamari-org/platform @sre-duty-officer
/Makefile @katamari-org/tooling @devops-lead
/requirements.txt @katamari-org/tooling @product-tech-lead
/requirements-eval.txt @katamari-org/tooling @data-science-lead

Normalize lockfile digest paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle home directory expansion in lockfile hashing
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Refresh OpenAI factory cache when alias changes
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Ensure AsyncOpenAI alias is always available
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Add home path deduplication test for hash lockfiles
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle blank Gemini API keys
  src/providers/google_gemini_client.py
  tests/providers/test_google_gemini_provider.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Normalize lockfile hashing paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Handle blank OpenAI API key values
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Fix mypy issues in OpenAI client
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer

fix: harden openai client resolution
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer

Refine lockfile normalization
  scripts/cache/hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead

Normalize lockfile hashing by repository-relative paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Raise error for missing lockfile paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Ensure missing lockfiles surface ENOENT
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Normalize lockfile hashing to repo-relative paths
  scripts/cache/hash_lockfiles.py
  tests/scripts/test_hash_lockfiles.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/qa, @product-tech-lead

Validate OPENAI_API_KEY before creating client
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Fix AsyncOpenAI fallback handling
  src/providers/openai_client.py
  tests/providers/test_openai_provider_stream.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Fix OpenAI provider cache refresh and lockfile normalization
  scripts/cache/hash_lockfiles.py
  src/providers/openai_client.py
  tests/app/test_get_provider.py
Owners: @katamari-org/tooling, @devops-lead, @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Refine async OpenAI factory detection
  src/providers/openai_client.py
Owners: @katamari-org/backend, @runtime-duty-officer

Normalize default choice resolution
  src/app.py
  tests/app/test_on_start.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Normalize whitespace-only retention embedder keys
  src/core_ext/retention.py
  tests/core_ext/test_retention.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

Adjust metrics tests to expect uppercase NaN
  tests/app/test_metrics_healthz.py
  tests/scripts/test_collect_metrics.py
Owners: @katamari-org/qa, @product-tech-lead

Ensure Prometheus metrics export emits NaN
  src/app.py
  tests/app/test_metrics.py
Owners: @katamari-org/backend, @runtime-duty-officer, @katamari-org/qa, @product-tech-lead

chore: run container as non root
  Dockerfile
Owners: @katamari-org/platform, @sre-duty-officer

Fix invalid text fill property in copilot styles
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/frontend, @frontend-captain

Refine element creation feedback
  upstream/chainlit/backend/chainlit/element.py
  upstream/chainlit/backend/tests/test_element.py
Owners: @katamari-org/frontend, @frontend-captain

Refactor feedback handling in ReadOnlyThread
  upstream/chainlit/frontend/src/components/ReadOnlyThread.tsx
Owners: @katamari-org/frontend, @frontend-captain

Enforce secure SSL defaults for SQLAlchemy data layer
  upstream/chainlit/backend/chainlit/data/sql_alchemy.py
  upstream/chainlit/backend/tests/data/test_sql_alchemy.py
Owners: @katamari-org/frontend, @frontend-captain

Add comment for update_step stub
  upstream/chainlit/cypress/e2e/data_layer/main.py
Owners: @katamari-org/frontend, @frontend-captain

Refactor chat upload callbacks
  upstream/chainlit/frontend/src/components/chat/index.tsx
Owners: @katamari-org/frontend, @frontend-captain

Add comment for missing step persistence
  upstream/chainlit/cypress/e2e/thread_resume/main.py
Owners: @katamari-org/frontend, @frontend-captain

fix: restrict window message target origin
  upstream/chainlit/libs/react-client/src/useChatSession.ts
Owners: @katamari-org/frontend, @frontend-captain

Fix loading shimmer background declarations
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/frontend, @frontend-captain

Fix background property ordering for loading shimmer
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/frontend, @frontend-captain

Enable SSL hostname verification
  upstream/chainlit/backend/chainlit/data/sql_alchemy.py
  upstream/chainlit/backend/tests/data/test_sql_alchemy.py
Owners: @katamari-org/frontend, @frontend-captain

fix: reorder loading shimmer background declaration
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/frontend, @frontend-captain

Fix dataframe hook usage
  upstream/chainlit/frontend/src/components/Elements/Dataframe.tsx
  upstream/chainlit/frontend/tests/dataframe.spec.tsx
  upstream/chainlit/frontend/tests/stubs/chainlit-react-client.ts
  upstream/chainlit/frontend/vitest.config.ts
Owners: @katamari-org/frontend, @frontend-captain

Fix loading shimmer background-position order
  upstream/chainlit/libs/copilot/src/index.css
Owners: @katamari-org/frontend, @frontend-captain

Fix step decorator call
  upstream/chainlit/backend/chainlit/step.py
Owners: @katamari-org/frontend, @frontend-captain

Fix invalid text-fill-color declaration
  upstream/chainlit/frontend/src/index.css
Owners: @katamari-org/frontend, @frontend-captain
