Repository RNA4219/katamari, changes with the owners that CODEOWNERS names for each.
All owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/design, @katamari-org/frontend, @katamari-org/qa, @katamari-org/docs, @katamari-org/devops

Set semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Fix semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Fix redundant key tracking in metric log parsing
  scripts/perf/collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

Ensure semantic retention fallback outputs numeric value
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Fix typing imports for collect_metrics
  scripts/perf/collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops

Adjust semantic retention fallback to None
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Adjust semantic retention fallback to null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

test: ensure semantic retention fallback emits null
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Fix semantic retention fallback to emit null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Set semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Update semantic retention fallback handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

docs: clarify retention metric handling
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

docs: refresh metrics status
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/D_Trim_Design.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Update semantic retention fallback assertions
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Handle missing semantic retention as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Handle null compress ratio when log lacks metric
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Handle null compress ratio from chainlit log
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

docs: reflect measured semantic retention
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Requirements_v3_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/A_Glossary.md
  docs/addenda/D_Trim_Design.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
  docs/adr/0005-m1-5-oauth-and-token-governance.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Remove unused import in collect metrics test
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Update collect_metrics test docstring to describe fallback migration
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

docs: semantic_retention の欠損処理と進捗を反映
  docs/Katamari_Functional_Spec_v1_ja.md
  docs/Katamari_Technical_Spec_v1_ja.md
  docs/ROADMAP_AND_SPECS.md
  docs/addenda/M1_Metrics_Healthz_ADR.md
  docs/adr/0004-m1-metrics-and-retention.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Update semantic retention fallback to 1.0
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Ensure semantic retention fallback serializes as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Handle null compress ratio metrics
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

docs: refresh semantic retention metrics description
  README.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

docs: update collect_metrics test docstring
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Add test for HTTP compress ratio override
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Update collect_metrics test docstring for fallback behavior
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Add failing test for null compress ratio and enforce HTTP missing handling
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Adjust semantic retention fallback to null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

docs: clarify semantic retention metric outputs
  README.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Adjust semantic retention null expectations
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

Handle missing semantic retention as null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

Ensure semantic retention falls back to JSON null
  scripts/perf/collect_metrics.py
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/devops, @katamari-org/qa

docs: clarify collect_metrics retention fallback
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

docs: update trim retention checklist status
  docs/addenda/D_Trim_Design.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

docs: align collect_metrics test comment with spec
  tests/scripts/test_collect_metrics.py
Owners: @RNA4219, @katamari-bot, @katamari-org/qa

docs: update min_turns description
  docs/addenda/D_Trim_Design.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

docs: Trim保持率チェックリストの現状適合を明記
  docs/addenda/D_Trim_Design.md
Owners: @RNA4219, @katamari-bot, @katamari-org/docs

Handle semantic retention compute failures
  src/app.py
  tests/app/test_semantic_retention.py
Owners: @RNA4219, @katamari-bot, @katamari-org/runtime, @katamari-org/qa

CODEOWNERS:

# CODEOWNERS は主要ディレクトリごとにリポジトリオーナー（個人 + AI）を必ず含め、専門チームを補助 reviewer として指定します。
# - 個人オーナー: @RNA4219
# - AI オーナー:   @katamari-bot
# 詳細は CONTRIBUTING.md と CODE_OF_CONDUCT.md を参照してください。

# 既定の担当者
* @RNA4219 @katamari-bot

# アプリケーション実装
/src/ @RNA4219 @katamari-bot @katamari-org/runtime
/personas/ @RNA4219 @katamari-bot @katamari-org/runtime
/themes/ @RNA4219 @katamari-bot @katamari-org/design
/public/ @RNA4219 @katamari-bot @katamari-org/frontend
/upstream/ @RNA4219 @katamari-bot @katamari-org/runtime

# テストと品質保証
/tests/ @RNA4219 @katamari-bot @katamari-org/qa
/third_party/ @RNA4219 @katamari-bot @katamari-org/qa

# ドキュメントとナレッジ
/docs/ @RNA4219 @katamari-bot @katamari-org/docs
/README.md @RNA4219 @katamari-bot @katamari-org/docs
/CHANGELOG.md @RNA4219 @katamari-bot @katamari-org/docs

# 運用・自動化ツール
/scripts/ @RNA4219 @katamari-bot @katamari-org/devops
/.github/ @RNA4219 @katamari-bot @katamari-org/devops
/Dockerfile @RNA4219 @katamari-bot @katamari-org/devops
/Makefile @RNA4219 @katamari-bot @katamari-org/devops

# 設定・データ資産
/config/ @RNA4219 @katamari-bot @katamari-org/runtime
/RUNBOOK.md @RNA4219 @katamari-bot @katamari-org/devops
/CHECKLISTS.md @RNA4219 @katamari-bot @katamari-org/devops
/TASK.*.md @RNA4219 @katamari-bot @katamari-org/docs
